html {
  overflow: hidden;
}

body {
  font-family: $openSans;
  font-style: normal;
}

.container {
  width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

.main {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
