.section {
  width: 100vw;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.4s;

  @include max("md") {
    display: none;
    height: auto;
  }

  &.active {
    opacity: 1;
    height: 100vh;

    @include max("md") {
      display: block;
      height: auto;
    }
  }
}
