.title {
  font-family: $averta;
  font-weight: 800;
  font-size: vwx(86);
  line-height: vwx(86);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $darkBlue;

  @include max("lg") {
    font-size: vw(58);
    line-height: vw(58);
  }

  @include max("sm") {
    font-size: vws(62);
    line-height: vws(64);
  }

  &--mobile {
    @include max("md") {
      font-size: vws(30);
      line-height: vws(30);
    }

    @include max("sm") {
      font-size: vws(48);
      line-height: vws(48);
    }
  }
}
