extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	//- include ../partials/blocks/_first
	//- include ../partials/blocks/_heroes
	include ../partials/blocks/_question