section.section.answer#answer
  .columns.answer-container
    .columns__half.columns__half--gradient.answer-container__left(data-aos="fade-right" data-aos-once="true" data-aos-duration="900")
      .answer-story.js-more-parent
        .answer-story__person
          .answer-story__person-image
            .answer-story__person-image-item
              img(src="images/hero-1.png", alt="Юля Коваль — блогер, путешественница")
          
          .answer-story__person-info
            span.answer-story__person-name
              | Юля Коваль

            span.answer-story__person-position
              | блогер, путешественница
        
        .answer-story__item
          h2.title.title--mobile.stroked-text.answer-story__item-title
            | Так и было!

          p.answer-story__item-text.js-scrollable
            | Режиссер нашей программы был в предынфарктном состоянии, его просто выносили. У меня сработал инстинкт самосохранения
            span.answer-story__item-text--dots
              | ... 
            span.answer-story__item-text--hidden
              | . Меня бросило в пот, руки дрожали. Иногда такое происходит у меня, когда лечу в самолете: несмотря на количество перелетов, я очень сильно боюсь летать. В шахте у меня случился настоящий стресс. Хотелось просто остаться в живых, не умереть ни от инфаркта, ни от завала в шахте. Однако там я увидела абсолютно другой мир. В шахте за $5 в месяц люди пашут так, как мы никогда в жизни не работали. Они рискуют жизнью каждый день. Поход туда того стоил — это опыт, это воспоминания. Приходить в себя было некогда, съемки продолжались. Когда я вышла из шахты, пришлось выбросить рубашку, она была насквозь мокрая и грязная. Воспользовалась дезодорантом «Рексона» и пошла дальше — забираться на вулкан.
          
          a(href="#").js-more.answer-story__item-more
            | читать дальше 

    .columns__half.answer-container__right(data-aos="fade-left" data-aos-once="true" data-aos-duration="900")
      .answer-advise
        .answer-advise__product
          img(src="images/product.png", alt="Изображение антиперспиранта 'Rexona Motion Sense'").answer-advise__product-image
        
        a(href="#" data-nav="#women").js-nav.answer-advise__another
          | другая история

        h2.title.title--mobile.answer-advise__title
          | совет от
        
        .answer-advise__switch
          .switch
            input(type="checkbox").js-advise-toggler.js-radio

            span.switch__toggler

              span.switch__toggler-text.switch__toggler-text--hero
                | Юли

              span.switch__toggler-item

              span.switch__toggler-text.switch__toggler-text--rexona
                | Rexona

        .answer-advise__info.js-more-parent
          p.answer-advise__text.js-scrollable
            span.story-item__text
              | Ко всем съемкам и мероприятиям я готовлюсь и настраиваюсь заранее. Учитывая свою активность, эмоциональность и эмпатичность, я не могу назвать себя Мисс Самообладание — 2021
            span.answer-advise__text--dots
              | ... 
            span.answer-advise__text--hidden
              | , мне еще предстоит постигнуть эту прекрасную черту характера. Даже сейчас, рассказывая про то, как справиться со стрессом, я чувствую, что испытываю его. Вряд ли в ближайшее время я запущу марафон, как выходить из сложных и неловких ситуаций.<br>Реально рабочая схема — это в трудной стрессовой ситуации построить себе дорожную карту. Важно не хвататься сразу за всё, а выбрать дело, которое важнее и проще сделать, удобнее решить именно сейчас, и выстраивать план, постепенно выполняя все дела. В целом я достаточно часто сталкиваюсь со стрессом на работе, в путешествиях и в личной жизни — в такие моменты я концентрируюсь и не допускаю паники. Также я стараюсь чаще улыбаться: хорошее настроение 100%-но добавляет красок в жизнь и снижает стресс.
          
          a(href="#").js-more.answer-advise__text-more
            | Подробнее