section.section.checklist#checklist
  .checklist-text
    p.checklist-text__item
      | Если Rexona может позаботиться о том, чтобы неловкие ситуации не возникали по вине пота, то как быть с остальными? Как завести привычку не терять самообладание? 

  h2.gradient-text.checklist__title
    | Смотрите чек-лист от&nbsp;экспертов бренда!

  .checklist-wrapper
    -
      const items = [
        'Дышите глубже. Долго вдыхайте и выдыхайте столько же, чтобы почувствовать тело и прийти в себя.',
        'Не воспринимайте чужие проблемы на свой счет. Если что-то сломано или неисправно, не значит, что в этом виноваты вы.',
        'Представьте, что вы наблюдаете за ситуацией со стороны. Как бы поступил участник неловкой ситуации? Рассмотрите все варианты! Что бы вы посоветовали другому человеку на вашем месте?',
        'Возьмите паузу, от пары минут ничего не изменится.',
        'Нельзя контролировать и предугадывать всё, относитесь ко всему позитивно, как к новому опыту.',
        'Переключите внимание на что-то простое, например, включающее мелкую моторику или физические упражнения.',
        'Определите, что именно вызывает тревогу. Можете ли вы это изменить? Если да, то меняйте, если нет, то отпустите ситуацию и плывите по течению.',
        'Чувство юмора и сдержанность в суждениях - ваши лучшие друзья. Не рубите с плеча и не принимайте кардинальных решений.',
      ];
    
    each item in items
      label.checklist-item
        input(type="checkbox").checklist-item__input
        span.checklist-item__checkmark
        span.checklist-item__text= item