section.section.question#question
  .columns.question-container
    .columns__half.question-container__left(data-aos="fade-right" data-aos-once="true" data-aos-duration="900")
      .question-story.js-more-parent
        .question-story__person
          .question-story__person-image
            img(src="images/hero-1.png", alt="Юля Коваль — блогер, путешественница")
          
          .question-story__person-info
            span.question-story__person-name
              | Юля Коваль

            span.question-story__person-position
              | блогер, путешественница
        
        .question-story__item
          p.question-story__item-text.js-scrollable
            | Неловких моментов не бывает только у тех, кто ничего не делает. В моем случае такие ситуации обычно происходят, когда я не могу рассчитать время и опаздываю на встречи
            span.question-story__item-text--dots
              | ... 
            span.question-story__item-text--hidden
              | , это заставляет меня испытывать стресс, нервничать и переживать. Приключений, когда у меня дрожали руки и бросало в пот, в жизни было много. Одна из таких ситуаций произошла во время съемок программы «Орел и решка», и она чуть не стоила мне и команде жизни. Мы спускались в шахту в Африке на глубину 1500 метров. Давили отсутствие воздуха и кромешная тьма. Еще бы, полтора километра вглубь нашей планеты! Там абсолютно не было никакого воздуха, было темно и страшно. Мы шли по маленькой самодельной лестнице — это была даже не лестница, а просто палки! И тут с грохотом во мраке взорвался динамит. 
          
          a(href="#").js-more.question-story__item-more
            | читать дальше 

    .columns__half.columns__half--gradient.question-container__right(data-aos="fade-left" data-aos-once="true" data-aos-duration="900")
      .question-answers
        h2.title.title--mobile.stroked-text.question-answers__title
          | что было дальше?
        
        .question-answers__buttons
          .question-answers__buttons-item.question-answers__buttons-item--primary
            .question-answers__buttons-bg
            
            input(type="radio", name="story", data-nav="#answer" data-answer="correct").js-nav.js-radio
          
            span.question-answers__buttons-checkmark
              svg(width="58" height="72" viewBox="0 0 58 72" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M56.767 0.723972C55.1901 1.98579 47.5197 6.88105 18.4676 46.4041C18.2525 46.684 17.8764 47.2525 17.3295 47.2525L16.3976 46.8392C15.9116 46.5238 3.76774 38.0346 1.47813 36.4887C0.557372 35.8712 0.221455 35.6181 0.037559 35.7559C-0.108092 35.8848 0.185433 36.3955 0.649157 37.1327C1.08356 37.8302 6.62593 47.0569 11.4847 56.1102C15.618 63.8442 18.866 70.2234 19.0091 70.4898C19.4572 71.3471 19.8069 72 20.2792 72C20.9714 72 21.1104 71.3342 21.5406 70.2768C21.9906 69.1973 34.0471 36.3111 57.3582 1.24381C57.7076 0.710701 58.12 0.119764 57.9673 0.0132698L57.9358 0C57.7707 0 57.2419 0.377629 56.767 0.723972Z" fill="white")
          
            span.question-answers__buttons-text Я сжала волю в кулак, сконцентрировалась и пошла вперед

          .question-answers__buttons-item.question-answers__buttons-item--secondary
            input(type="radio", name="story", data-nav="#answer" data-answer="wrong").js-nav.js-radio
          
            span.question-answers__buttons-checkmark
              svg(width="58" height="72" viewBox="0 0 58 72" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M56.767 0.723972C55.1901 1.98579 47.5197 6.88105 18.4676 46.4041C18.2525 46.684 17.8764 47.2525 17.3295 47.2525L16.3976 46.8392C15.9116 46.5238 3.76774 38.0346 1.47813 36.4887C0.557372 35.8712 0.221455 35.6181 0.037559 35.7559C-0.108092 35.8848 0.185433 36.3955 0.649157 37.1327C1.08356 37.8302 6.62593 47.0569 11.4847 56.1102C15.618 63.8442 18.866 70.2234 19.0091 70.4898C19.4572 71.3471 19.8069 72 20.2792 72C20.9714 72 21.1104 71.3342 21.5406 70.2768C21.9906 69.1973 34.0471 36.3111 57.3582 1.24381C57.7076 0.710701 58.12 0.119764 57.9673 0.0132698L57.9358 0C57.7707 0 57.2419 0.377629 56.767 0.723972Z" fill="white")
          
            span.question-answers__buttons-text Вместе с режиссером мы запаниковали, я дернулась и оступилась на лестнице
