section.section.question#question
  .columns.question-container
    .columns__half.question-container__left(data-aos="fade-right" data-aos-once="true" data-aos-duration="900")
      .question-story.js-more-parent
        .question-story__person
          .question-story__person-image
            img(src="images/hero-1.png", alt="Юля Коваль — блогер, путешественница")
          
          .question-story__person-info
            span.question-story__person-name
              | Юля Коваль

            span.question-story__person-position
              | блогер, путешественница
        
        .question-story__item
          p.question-story__item-text.js-scrollable
            | Неловких моментов не бывает только у тех, кто ничего не делает. В моем случае такие ситуации обычно происходят, когда я не могу рассчитать время и опаздываю на встречи
            span.question-story__item-text--dots
              | ... 
            span.question-story__item-text--hidden
              | , это заставляет меня испытывать стресс, нервничать и переживать. Приключений, когда у меня дрожали руки и бросало в пот, в жизни было много. Одна из таких ситуаций произошла во время съемок программы «Орел и решка», и она чуть не стоила мне и команде жизни. Мы спускались в шахту в Африке на глубину 1500 метров. Давили отсутствие воздуха и кромешная тьма. Еще бы, полтора километра вглубь нашей планеты! Там абсолютно не было никакого воздуха, было темно и страшно. Мы шли по маленькой самодельной лестнице — это была даже не лестница, а просто палки! И тут с грохотом во мраке взорвался динамит. 
          
          a(href="#").js-more.question-story__item-more
            | читать дальше 

    .columns__half.columns__half--gradient.question-container__right(data-aos="fade-left" data-aos-once="true" data-aos-duration="900")
      .question-answers
        h2.title.title--mobile.stroked-text.question-answers__title
          | что было дальше?
        
        .question-answers__buttons
          .question-answers__buttons-item.question-answers__buttons-item--primary
            .question-answers__buttons-bg
            
            input(type="radio", name="story", data-nav="#answer" data-answer="correct").js-nav.js-radio
          
            span.question-answers__buttons-checkmark
              svg(width="49" height="65" viewBox="0 0 49 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M48.869 0.294414C48.8035 0.228988 48.738 0.0981379 48.607 0.0981379C48.345 -0.0327126 48.0175 -0.0327126 47.8211 0.0981379C47.7556 0.163563 47.6901 0.228988 47.6246 0.294414C47.4281 0.556115 47.1661 0.817816 46.9696 1.01409C46.7076 1.27579 46.5111 1.53749 46.2491 1.79919C46.1181 1.93005 45.9871 2.12632 45.8561 2.25717C45.8561 2.25717 45.8561 2.3226 45.7907 2.3226C45.5287 2.64972 45.2012 2.97685 44.8737 3.30398C44.2187 4.02365 43.4983 4.80876 42.7778 5.65929C42.4503 6.05184 42.0573 6.44439 41.7299 6.83694C41.3369 7.22949 41.0094 7.68747 40.6164 8.08002C40.2234 8.538 39.8304 8.99597 39.4375 9.38853C39.0445 9.8465 38.6515 10.3045 38.193 10.8279C37.8 11.3513 37.3416 11.8093 36.9486 12.3327C36.4901 12.8561 36.0971 13.3795 35.6387 13.9029C35.1802 14.4263 34.7217 14.9497 34.2632 15.5385C33.8047 16.0619 33.3463 16.6507 32.8878 17.1741C32.4293 17.763 31.9053 18.3518 31.4469 18.8752C30.9884 19.464 30.4644 20.0528 30.0059 20.6417C29.4819 21.2305 29.0235 21.8848 28.4995 22.4736C27.9755 23.1278 27.4515 23.7167 26.9931 24.3709C26.4691 25.0252 25.9451 25.6794 25.4211 26.3337C24.8972 26.9879 24.3732 27.6422 23.8492 28.2964C23.3252 28.9507 22.8013 29.6704 22.2773 30.3246C21.7533 31.0443 21.1639 31.6985 20.6399 32.4182C20.1159 33.1379 19.5264 33.8576 19.0025 34.5118C18.4785 35.2315 17.889 35.9512 17.365 36.6709C17.103 36.998 16.8411 37.3905 16.5791 37.7177C16.3171 38.0448 16.1206 38.3719 15.7931 38.6336C15.4001 38.9607 14.8762 39.2224 14.3522 39.2879C13.9592 39.2879 13.5662 39.2224 13.1732 39.0916C12.8458 38.9607 12.5183 38.699 12.2563 38.5028C11.6013 38.0448 10.9463 37.6522 10.2914 37.1943C9.57091 36.7363 8.91594 36.2783 8.19548 35.8203C7.47501 35.3624 6.75455 34.9044 6.03408 34.4464C5.24812 33.9884 4.52766 33.5304 3.80719 33.0725C3.08673 32.6145 2.36626 32.1565 1.5803 31.6985C1.18732 31.4368 0.663345 31.5023 0.335861 31.8294C0.00837642 32.1565 -0.122617 32.6799 0.13937 33.0725C3.08673 38.4373 5.96859 43.9331 8.71945 49.2979C11.1428 54.074 13.6317 59.0463 16.1206 64.1495C16.3826 64.6729 16.9066 65 17.5615 65C18.2165 65 18.7405 64.6074 19.0025 64.084V64.0186C21.2293 58.7846 23.5217 53.5506 25.8141 48.5128C34.1322 30.1283 41.6644 14.6225 48.869 1.14494C48.9345 1.01409 49 0.883241 49 0.686965C49 0.556115 48.9345 0.425264 48.869 0.294414Z" fill="white")
          
            span.question-answers__buttons-text Я сжала волю в кулак, сконцентрировалась и пошла вперед

          .question-answers__buttons-item.question-answers__buttons-item--secondary
            input(type="radio", name="story", data-nav="#answer" data-answer="wrong").js-nav.js-radio
          
            span.question-answers__buttons-checkmark
              svg(width="49" height="65" viewBox="0 0 49 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M48.869 0.294414C48.8035 0.228988 48.738 0.0981379 48.607 0.0981379C48.345 -0.0327126 48.0175 -0.0327126 47.8211 0.0981379C47.7556 0.163563 47.6901 0.228988 47.6246 0.294414C47.4281 0.556115 47.1661 0.817816 46.9696 1.01409C46.7076 1.27579 46.5111 1.53749 46.2491 1.79919C46.1181 1.93005 45.9871 2.12632 45.8561 2.25717C45.8561 2.25717 45.8561 2.3226 45.7907 2.3226C45.5287 2.64972 45.2012 2.97685 44.8737 3.30398C44.2187 4.02365 43.4983 4.80876 42.7778 5.65929C42.4503 6.05184 42.0573 6.44439 41.7299 6.83694C41.3369 7.22949 41.0094 7.68747 40.6164 8.08002C40.2234 8.538 39.8304 8.99597 39.4375 9.38853C39.0445 9.8465 38.6515 10.3045 38.193 10.8279C37.8 11.3513 37.3416 11.8093 36.9486 12.3327C36.4901 12.8561 36.0971 13.3795 35.6387 13.9029C35.1802 14.4263 34.7217 14.9497 34.2632 15.5385C33.8047 16.0619 33.3463 16.6507 32.8878 17.1741C32.4293 17.763 31.9053 18.3518 31.4469 18.8752C30.9884 19.464 30.4644 20.0528 30.0059 20.6417C29.4819 21.2305 29.0235 21.8848 28.4995 22.4736C27.9755 23.1278 27.4515 23.7167 26.9931 24.3709C26.4691 25.0252 25.9451 25.6794 25.4211 26.3337C24.8972 26.9879 24.3732 27.6422 23.8492 28.2964C23.3252 28.9507 22.8013 29.6704 22.2773 30.3246C21.7533 31.0443 21.1639 31.6985 20.6399 32.4182C20.1159 33.1379 19.5264 33.8576 19.0025 34.5118C18.4785 35.2315 17.889 35.9512 17.365 36.6709C17.103 36.998 16.8411 37.3905 16.5791 37.7177C16.3171 38.0448 16.1206 38.3719 15.7931 38.6336C15.4001 38.9607 14.8762 39.2224 14.3522 39.2879C13.9592 39.2879 13.5662 39.2224 13.1732 39.0916C12.8458 38.9607 12.5183 38.699 12.2563 38.5028C11.6013 38.0448 10.9463 37.6522 10.2914 37.1943C9.57091 36.7363 8.91594 36.2783 8.19548 35.8203C7.47501 35.3624 6.75455 34.9044 6.03408 34.4464C5.24812 33.9884 4.52766 33.5304 3.80719 33.0725C3.08673 32.6145 2.36626 32.1565 1.5803 31.6985C1.18732 31.4368 0.663345 31.5023 0.335861 31.8294C0.00837642 32.1565 -0.122617 32.6799 0.13937 33.0725C3.08673 38.4373 5.96859 43.9331 8.71945 49.2979C11.1428 54.074 13.6317 59.0463 16.1206 64.1495C16.3826 64.6729 16.9066 65 17.5615 65C18.2165 65 18.7405 64.6074 19.0025 64.084V64.0186C21.2293 58.7846 23.5217 53.5506 25.8141 48.5128C34.1322 30.1283 41.6644 14.6225 48.869 1.14494C48.9345 1.01409 49 0.883241 49 0.686965C49 0.556115 48.9345 0.425264 48.869 0.294414Z" fill="white")
          
            span.question-answers__buttons-text Вместе с режиссером мы запаниковали, я дернулась и оступилась на лестнице
