section.section.quiz
  .quiz-sections
    //- //- Начало квиза
    //- .quiz-index.quiz-sections__item
    //-   h2.title.quiz-title.quiz-index__title
    //-     span.stroked-text.quiz-title--stroked
    //-       | От чего вас 
    //-     | бросает в пот?
      
    //-   p.quiz-text.quiz-index__text
    //-     | Подняться на смотровую площадку без перил или забыть родной язык при встрече с кумиром? У каждой из нас свои триггеры. Пройдите тест и отметьте узнаваемые для себя ситуации, а в результатах узнайте, какой приз от бренда Rexona подойдет именно вам! Готовы "попотеть"?
      
    //-   .quiz-index__button
    //-     a(href="#").button.quiz-button.quiz-index__button-item
    //-       | пройти тест 

    //- //- Вопросы квиза
    //- - 
    //-   const sections = [
    //-     {
    //-       title: 'Вас бросает в&nbsp;пот, когда...',
    //-       answers: [
    //-         { value: 1, text: 'вместо подруги случайно отправила сообщение начальнику' },
    //-         { value: 0, text: 'забыла оплатить проезд в транспорте или решила проехать зайцем' },
    //-         { value: 0, text: 'в спортзал заходит горячий парень' },
    //-         { value: 0, text: 'когда не влезаете в любимые джинсы' },
    //-       ],
    //-     },
    //-   ];
      
    //- each section, index in sections
    //-   .quiz-item.quiz-sections__item
    //-     span.title.stroked-text.quiz-title.quiz-item__position
    //-       span.quiz-item__position--current= (index + 1)
    //-       span.quiz-item__position--total=  '/' + sections.length

    //-     h3.title.quiz-title.quiz-item__title !{section.title}

    //-     .quiz-item__answers
    //-       each answer in section.answers
    //-         .quiz-item__answers-item
    //-           label.quiz-answer
    //-             input(type="radio", name=`question-${index}` data-value= answer.value).quiz-answer__input
    //-             span.quiz-answer__checkmark
    //-             span.quiz-text.quiz-answer__text= answer.text

    //- Секция регистрации
    .quiz-reg.quiz-sections__item
      .quiz-reg__bg
        img(src="images/product.png", alt="Изображение антиперспиранта 'Rexona Motion Sense'").quiz-reg__bg-item

      h3.title.quiz-title.quiz-reg__title
        | Выиграйте подарок для экстрималки!
      
      p.quiz-text.quiz-reg__text
        | Больше адреналина и вдохновения! Ваше тело явно требует новых впечатлений, и ничто не должно мешать ими наслаждаться. Почувствовать себя уверенно в любой ситуации поможет подарок от Rexona!
      
      .quiz-reg__cta
        p.quiz-reg__cta-text
          | Пройдите регистрацию, для участия в розыгрыше

        a(href="#").button.quiz-button.quiz-reg__cta-button
          | Регистрация
