section.section.quiz.active#test
  .quiz-sections
    //- Начало квиза
    .quiz-index.quiz-sections__item.active
      h2.title.quiz-title.quiz-index__title(data-aos="fade-right" data-aos-duration="900")
        span.stroked-text.quiz-title--stroked
          | От чего вас 
        | бросает&nbsp;в&nbsp;пот?
      
      p.quiz-text.quiz-index__text(data-aos="fade-left" data-aos-duration="900")
        | Подняться на смотровую площадку без перил или забыть родной язык при встрече с кумиром? У каждой из нас свои триггеры. Пройдите тест и отметьте узнаваемые для себя ситуации, а в результатах узнайте, какой приз от бренда Rexona подойдет именно вам! Готовы "попотеть"?
      
      .quiz-index__buttons(data-aos="zoom-out" data-aos-duration="900")
        a(href="#").button.quiz-button.quiz-index__buttons-item.js-quiz-nav
          | пройти тест
        
        a(href="#").button.quiz-button.quiz-index__buttons-item.js-quiz-reg
          | регистрация
      
      a(href="#" target="_blank").quiz-index__ozon
        //- img(src="images/ozon.png" alt="Кнопка 'Купить на OZON'")
        <svg width="337" height="288" viewBox="0 0 337 288" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M114.699 110H110.574L104.363 101.316V110H100.73V92.8672H104.363V101.164L110.504 92.8672H114.371L108.125 101.094L114.699 110ZM130.367 92.8672L125.07 104.984C124.406 106.508 123.781 107.602 123.195 108.266C122.617 108.93 121.93 109.426 121.133 109.754C120.336 110.074 119.367 110.234 118.227 110.234C117.25 110.234 116.34 110.117 115.496 109.883V106.766C116.184 107.047 117.039 107.188 118.062 107.188C118.711 107.188 119.234 107.039 119.633 106.742C120.031 106.438 120.363 105.914 120.629 105.172L114.699 92.8672H118.543L122.762 102.418H122.879L123.09 101.832L126.629 92.8672H130.367ZM146.094 110H142.473V95.8906H136.168V110H132.535V92.8672H146.094V110ZM150.418 92.8672H153.688V101.141L153.641 103.355L153.523 105.875H153.594L161.504 92.8672H165.852V110H162.617V101.773C162.617 100.672 162.688 99.0391 162.828 96.875H162.734L154.789 110H150.418V92.8672ZM176.785 110H173.152V95.8906H168.5V92.8672H181.438V95.8906H176.785V110ZM196.145 104.645C196.145 108.215 193.785 110 189.066 110H184.074V92.8672H187.707V99.4414H189.137C191.371 99.4414 193.098 99.8945 194.316 100.801C195.535 101.707 196.145 102.988 196.145 104.645ZM187.707 107.023H188.926C190.152 107.023 191.051 106.828 191.621 106.438C192.191 106.039 192.477 105.441 192.477 104.645C192.477 103.855 192.188 103.289 191.609 102.945C191.031 102.594 190.039 102.418 188.633 102.418H187.707V107.023ZM219.676 110H216.055V102.605H209.27V110H205.637V92.8672H209.27V99.582H216.055V92.8672H219.676V110ZM234.5 110L233.258 105.922H227.012L225.77 110H221.855L227.902 92.7969H232.344L238.414 110H234.5ZM232.391 102.875C231.242 99.1797 230.594 97.0898 230.445 96.6055C230.305 96.1211 230.203 95.7383 230.141 95.457C229.883 96.457 229.145 98.9297 227.926 102.875H232.391Z" fill="white"/>
          <g clip-path="url(#clip0_2:6)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M83.048 130.136C77.9897 129.595 72.8905 130.658 68.4513 133.179C64.0122 135.699 60.4509 139.554 58.2571 144.213C56.0633 148.871 55.3447 154.105 56.2 159.195C57.0552 164.286 59.4424 168.982 63.0334 172.639C66.6244 176.296 71.2429 178.734 76.2542 179.618C81.2654 180.502 86.4233 179.788 91.0189 177.576C95.6146 175.363 99.4224 171.759 101.919 167.26C104.415 162.762 105.478 157.588 104.961 152.451C104.392 146.741 101.902 141.405 97.9108 137.34C93.9196 133.276 88.6707 130.732 83.048 130.136V130.136ZM82.2503 168.22C79.5297 168.59 76.7633 168.086 74.3396 166.778C71.9159 165.47 69.9569 163.423 68.738 160.927C67.519 158.43 67.1013 155.608 67.5436 152.858C67.9859 150.108 69.2659 147.567 71.2038 145.594C73.1417 143.62 75.64 142.313 78.3476 141.855C81.0552 141.398 83.8361 141.813 86.2992 143.042C88.7624 144.272 90.7841 146.255 92.0802 148.711C93.3763 151.167 93.8816 153.974 93.5252 156.737C93.1511 159.644 91.8437 162.344 89.8055 164.419C87.7672 166.495 85.1118 167.831 82.2503 168.22V168.22ZM118.129 131.125C117.275 131.127 116.432 131.323 115.662 131.697C114.892 132.071 114.214 132.615 113.677 133.289C113.14 133.963 112.757 134.75 112.558 135.593C112.358 136.436 112.346 137.313 112.522 138.161C113.062 140.909 115.591 142.787 118.345 142.787H134.327L109.455 176.203C109.271 176.449 109.158 176.743 109.129 177.051C109.101 177.359 109.157 177.669 109.292 177.946C109.427 178.224 109.636 178.457 109.895 178.621C110.153 178.785 110.452 178.872 110.756 178.873H149.771C152.524 178.873 155.054 176.996 155.594 174.248C155.77 173.4 155.758 172.523 155.559 171.68C155.359 170.837 154.977 170.05 154.44 169.376C153.903 168.702 153.225 168.158 152.456 167.784C151.686 167.409 150.843 167.213 149.989 167.211H130.516L155.369 133.821C155.555 133.572 155.669 133.275 155.698 132.964C155.727 132.653 155.669 132.34 155.533 132.06C155.396 131.78 155.186 131.544 154.924 131.379C154.663 131.214 154.362 131.126 154.054 131.125H118.129V131.125ZM274.03 131.26C272.738 131.572 271.59 132.322 270.775 133.386C269.96 134.45 269.528 135.764 269.549 137.112V156.528L238.559 131.492C238.316 131.296 238.023 131.174 237.715 131.139C237.406 131.105 237.094 131.159 236.815 131.297C236.536 131.434 236.301 131.649 236.136 131.916C235.972 132.183 235.885 132.492 235.886 132.807V172.897C235.865 174.245 236.297 175.559 237.112 176.623C237.927 177.688 239.075 178.438 240.367 178.749C241.206 178.937 242.075 178.93 242.911 178.731C243.748 178.532 244.529 178.145 245.198 177.598C245.867 177.051 246.406 176.359 246.777 175.572C247.147 174.785 247.339 173.924 247.337 173.053V153.468L278.328 178.505C278.571 178.701 278.863 178.823 279.172 178.858C279.48 178.892 279.792 178.838 280.071 178.7C280.35 178.563 280.585 178.348 280.749 178.081C280.914 177.814 281.001 177.506 281 177.191V136.955C281.001 136.083 280.809 135.222 280.439 134.436C280.068 133.649 279.529 132.957 278.86 132.411C278.191 131.864 277.41 131.477 276.574 131.278C275.738 131.079 274.869 131.072 274.03 131.26V131.26ZM193.34 141.671C206.448 141.671 216.242 148.703 216.242 154.993C216.242 161.284 206.448 168.316 193.34 168.316C180.232 168.316 170.438 161.284 170.438 154.993C170.438 148.703 180.232 141.671 193.34 141.671V141.671ZM193.34 130.009C174.367 130.009 158.986 141.195 158.986 154.993C158.986 168.792 174.367 179.977 193.34 179.977C212.313 179.977 227.693 168.792 227.693 154.993C227.693 141.195 212.313 130.009 193.34 130.009V130.009Z" fill="white"/>
          </g>
          <g filter="url(#filter0_f_2:6)">
          <rect x="24.5" y="24.5" width="288" height="239" rx="119.5" stroke="white" stroke-width="5"/>
          </g>
          <defs>
          <filter id="filter0_f_2:6" x="0" y="0" width="337" height="288" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur stdDeviation="11" result="effect1_foregroundBlur_2:6"/>
          </filter>
          <clipPath id="clip0_2:6">
          <rect width="225" height="50" fill="white" transform="translate(56 130)"/>
          </clipPath>
          </defs>
        </svg>

        //- span.quiz-index__ozon-text
        //-   | Купить на
        //- svg(width="225" height="50" viewBox="0 0 225 50" fill="none" xmlns="http://www.w3.org/2000/svg")
        //-   path(fill-rule="evenodd" clip-rule="evenodd" d="M27.048 0.136411C21.9897 -0.404519 16.8905 0.658335 12.4513 3.17888C8.01216 5.69943 4.45093 9.55393 2.25714 14.2126C0.0633486 18.8712 -0.655307 24.1053 0.199955 29.1955C1.05522 34.2856 3.44241 38.9818 7.03341 42.6387C10.6244 46.2956 15.2429 48.7336 20.2542 49.6176C25.2654 50.5016 30.4233 49.7882 35.0189 47.5755C39.6146 45.3628 43.4224 41.7593 45.9189 37.2605C48.4154 32.7616 49.4781 27.5882 48.9609 22.4513C48.3918 16.7414 45.902 11.4049 41.9108 7.34042C37.9196 3.27598 32.6707 0.731842 27.048 0.136411V0.136411ZM26.2503 38.2195C23.5297 38.59 20.7633 38.0858 18.3396 36.7777C15.9159 35.4696 13.9569 33.4234 12.738 30.9266C11.519 28.4299 11.1013 25.6081 11.5436 22.8579C11.9859 20.1077 13.2659 17.5673 15.2038 15.5938C17.1417 13.6202 19.64 12.3128 22.3476 11.8552C25.0552 11.3976 27.8361 11.8128 30.2992 13.0425C32.7624 14.2722 34.7841 16.2545 36.0802 18.711C37.3763 21.1674 37.8816 23.9743 37.5252 26.7373C37.1511 29.6436 35.8437 32.3436 33.8055 34.4193C31.7672 36.495 29.1118 37.8307 26.2503 38.2195V38.2195ZM62.1289 1.1252C61.275 1.12727 60.4323 1.32258 59.6621 1.69691C58.892 2.07124 58.2137 2.61517 57.6766 3.28913C57.1396 3.96309 56.7573 4.75012 56.5576 5.59295C56.3579 6.43578 56.3458 7.31321 56.5221 8.16139C57.0624 10.9092 59.5905 12.7867 62.3446 12.7867H78.3272L53.4547 46.2025C53.2707 46.4492 53.1581 46.743 53.1294 47.0511C53.1007 47.3591 53.1571 47.6691 53.2923 47.9465C53.4275 48.2238 53.636 48.4574 53.8946 48.6211C54.1532 48.7848 54.4517 48.8722 54.7564 48.8734H93.7713C96.5236 48.8734 99.0536 46.9964 99.5938 44.2481C99.7702 43.4 99.7582 42.5227 99.5586 41.68C99.3591 40.8372 98.977 40.0502 98.4403 39.3762C97.9035 38.7022 97.2255 38.1582 96.4555 37.7836C95.6856 37.409 94.8431 37.2134 93.9894 37.2109H74.5159L99.3693 3.82111C99.555 3.57203 99.6687 3.27532 99.6976 2.96428C99.7265 2.65324 99.6695 2.34018 99.5329 2.06022C99.3963 1.78026 99.1856 1.54447 98.9244 1.37931C98.6632 1.21415 98.3618 1.12616 98.054 1.1252H62.1289V1.1252ZM218.03 1.25971C216.738 1.57152 215.59 2.32152 214.775 3.38569C213.96 4.44986 213.528 5.76448 213.549 7.11219V26.5283L182.559 1.49192C182.316 1.29608 182.023 1.17386 181.715 1.13933C181.406 1.10479 181.094 1.15935 180.815 1.29673C180.536 1.4341 180.301 1.6487 180.136 1.91585C179.972 2.183 179.885 2.49184 179.886 2.80684V42.8968C179.865 44.2445 180.297 45.5592 181.112 46.6234C181.927 47.6876 183.075 48.4375 184.367 48.7493C185.206 48.9366 186.075 48.9304 186.911 48.7312C187.748 48.5319 188.529 48.1446 189.198 47.5978C189.867 47.0511 190.406 46.3588 190.777 45.5721C191.147 44.7855 191.339 43.9244 191.337 43.0525V23.4685L222.328 48.5053C222.571 48.701 222.863 48.8231 223.172 48.8576C223.48 48.8921 223.792 48.8376 224.071 48.7003C224.35 48.563 224.585 48.3484 224.749 48.0814C224.914 47.8144 225.001 47.5057 225 47.1908V6.95455C225.001 6.08287 224.809 5.2221 224.439 4.4357C224.068 3.64931 223.529 2.95733 222.86 2.4108C222.191 1.86427 221.41 1.47712 220.574 1.2779C219.738 1.07868 218.869 1.07246 218.03 1.25971V1.25971ZM137.34 11.6705C150.448 11.6705 160.242 18.7029 160.242 24.9934C160.242 31.2839 150.448 38.3163 137.34 38.3163C124.232 38.3163 114.438 31.2839 114.438 24.9934C114.438 18.7029 124.232 11.6705 137.34 11.6705V11.6705ZM137.34 0.00944985C118.367 0.00944985 102.986 11.1952 102.986 24.9934C102.986 38.7916 118.367 49.9774 137.34 49.9774C156.313 49.9774 171.693 38.7916 171.693 24.9934C171.693 11.1952 156.313 0.00944985 137.34 0.00944985V0.00944985Z" fill="white")

    //- Вопросы квиза
    - 
      const sections = [
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'вместо подруги случайно отправила сообщение начальнику' },
            { value: 2, text: 'забыла оплатить проезд в транспорте или решила проехать зайцем' },
            { value: 3, text: 'в спортзал заходит горячий парень' },
            { value: 4, text: 'когда не влезаете в любимые джинсы' },
          ],
        },
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'дедлайн близко, а работа еще не сделана' },
            { value: 2, text: 'прыгаете с парашютом' },
            { value: 3, text: 'приснилось, что сдаете экзамен' },
            { value: 4, text: 'случайно увидела спойлер любимого сериала' },
          ],
        },
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'перед важной встречей вы пачкаете свой наряд кофе' },
            { value: 2, text: 'вы представляете себя за рулем гоночного автомобиля' },
            { value: 3, text: 'вы идете на свидание с незнакомым человеком' },
            { value: 4, text: 'макияж слишком парадный для жаркого дня' },
          ],
        },
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'прилюдно вас отчитывают' },
            { value: 2, text: 'вы идете в темном переулке одна' },
            { value: 3, text: 'предстоит публичное выступление' },
            { value: 4, text: 'второпях надела пиджак не с той юбкой  ' },
          ],
        },
        {
          type: 'reg',
        },
      ];

    each section, index in sections
      if (section.type === 'reg')
        //- Секция регистрации
        .quiz-reg.quiz-sections__item
          .quiz-reg__bg
            img(src="images/product.png", alt="Изображение антиперспиранта 'Rexona Motion Sense'").quiz-reg__bg-item

          h3.title.quiz-title.quiz-title--reg.quiz-reg__title
            | Выиграйте подарок для экстрималки!
          
          p.quiz-text.quiz-reg__text
            | Больше адреналина и вдохновения! Ваше тело явно требует новых впечатлений, и ничто не должно мешать ими наслаждаться. Почувствовать себя уверенно в любой ситуации поможет подарок от Rexona!
          
          .quiz-reg__cta
            p.quiz-reg__cta-text
              | Пройдите регистрацию, для участия в розыгрыше

            a(href="#").button.quiz-button.quiz-reg__cta-button
              | Регистрация
          
      else
        .quiz-item.quiz-sections__item
          span.title.stroked-text.quiz-title.quiz-item__position
            span.quiz-item__position--current= (index + 1)
            span.quiz-item__position--total=  '/' + sections.length

          h3.title.quiz-title.quiz-item__title !{section.title}

          .quiz-item__answers
            each answer in section.answers
              .quiz-item__answers-item
                label.quiz-answer
                  input(type="radio", name=`question-${index}` data-value= answer.value).quiz-answer__input
                  span.quiz-answer__checkmark
                  span.quiz-text.quiz-answer__text= answer.text

      
    //- Модальное окно
    .quiz-modal
      .quiz-modal__overlay
      
      form(action="", method="POST").quiz-modal__content
        .quiz-modal__close
          svg(width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M28.4959 25.5009L37.6334 16.3846C38.0335 15.9845 38.2583 15.4418 38.2583 14.8759C38.2583 14.31 38.0335 13.7673 37.6334 13.3671C37.2332 12.967 36.6905 12.7422 36.1246 12.7422C35.5587 12.7422 35.016 12.967 34.6159 13.3671L25.4996 22.5046L16.3834 13.3671C15.9832 12.967 15.4405 12.7422 14.8746 12.7422C14.3087 12.7422 13.766 12.967 13.3659 13.3671C12.9657 13.7673 12.7409 14.31 12.7409 14.8759C12.7409 15.4418 12.9657 15.9845 13.3659 16.3846L22.5034 25.5009L13.3659 34.6171C13.1667 34.8147 13.0086 35.0497 12.9007 35.3087C12.7928 35.5676 12.7373 35.8454 12.7373 36.1259C12.7373 36.4064 12.7928 36.6842 12.9007 36.9431C13.0086 37.2021 13.1667 37.4371 13.3659 37.6346C13.5634 37.8338 13.7984 37.9919 14.0574 38.0998C14.3164 38.2077 14.5941 38.2632 14.8746 38.2632C15.1552 38.2632 15.4329 38.2077 15.6919 38.0998C15.9508 37.9919 16.1858 37.8338 16.3834 37.6346L25.4996 28.4971L34.6159 37.6346C34.8134 37.8338 35.0485 37.9919 35.3074 38.0998C35.5664 38.2077 35.8441 38.2632 36.1246 38.2632C36.4052 38.2632 36.6829 38.2077 36.9419 38.0998C37.2008 37.9919 37.4358 37.8338 37.6334 37.6346C37.8325 37.4371 37.9906 37.2021 38.0985 36.9431C38.2064 36.6842 38.2619 36.4064 38.2619 36.1259C38.2619 35.8454 38.2064 35.5676 38.0985 35.3087C37.9906 35.0497 37.8325 34.8147 37.6334 34.6171L28.4959 25.5009Z" fill="#8EFFFE")

        h3.title.quiz-title.quiz-title--reg.quiz-modal__title
          | регистрация
        
        //- Регистрация
        .quiz-modal__first
          //- Инпуты
          .quiz-modal__inputs
            input(type="hidden" id='result' name='result' value='')

            .quiz-modal__inputs-group
              input(type="text" name="first-name" placeholder="имя" required).quiz-modal__inputs-item

            .quiz-modal__inputs-group
              input(type="text" name="surname" placeholder="фамилия" required).quiz-modal__inputs-item

            .quiz-modal__inputs-group
              input(type="email" name="email" placeholder="e-mail" required).quiz-modal__inputs-item   

          //- Прайваси, рассылка, сабмит
          .quiz-modal__bottom
            .quiz-modal__bottom-checkboxes
              label.quiz-modal__checkbox
                input(type="checkbox", name='privacy' required).quiz-modal__checkbox-input
                span.quiz-modal__checkbox-checkmark
                span.quiz-modal__checkbox-text  
                  | Согласие с правилами, согласие на обработку данных,&nbsp;возраст 18+    

              label.quiz-modal__checkbox
                input(type="checkbox", name='subscribe-rexona').quiz-modal__checkbox-input
                span.quiz-modal__checkbox-checkmark
                span.quiz-modal__checkbox-text  
                  | Согласие на получение рассылки от Rexona

              label.quiz-modal__checkbox
                input(type="checkbox", name='subscribe-unilever').quiz-modal__checkbox-input
                span.quiz-modal__checkbox-checkmark
                span.quiz-modal__checkbox-text  
                  | Согласие на получение рассылки от Unilever  

            .quiz-modal__bottom-button
              button(type="submit").button.quiz-button.quiz-modal__button
                | отправить

        //- Отправка
        .quiz-modal__loader
          .quiz-modal__loader-item
          .quiz-modal__loader-item
          .quiz-modal__loader-item

        //- После отправки
        .quiz-modal__after
          .quiz-modal__text
            p.quiz-modal__text-item
              | Ваш гарантированный подарок 
              span.quiz-modal__text-item--highlighted
                | чек-лист уверенности от Rexona

          .quiz-modal__download
            a(href="" download="Чек-лист уверенности от Rexona").button.quiz-button.quiz-modal__button
              | скачать

        //- Поле ошибки
        .quiz-modal__error
          | Упс, что-то пошло не так!

    //- //- Секция регистрации
    //- .quiz-reg.quiz-sections__item
    //-   .quiz-reg__bg
    //-     img(src="images/product.png", alt="Изображение антиперспиранта 'Rexona Motion Sense'").quiz-reg__bg-item

    //-   h3.title.quiz-title.quiz-title--reg.quiz-reg__title
    //-     | Выиграйте подарок для экстрималки!
      
    //-   p.quiz-text.quiz-reg__text
    //-     | Больше адреналина и вдохновения! Ваше тело явно требует новых впечатлений, и ничто не должно мешать ими наслаждаться. Почувствовать себя уверенно в любой ситуации поможет подарок от Rexona!
      
    //-   .quiz-reg__cta
    //-     p.quiz-reg__cta-text
    //-       | Пройдите регистрацию, для участия в розыгрыше

    //-     a(href="#").button.quiz-button.quiz-reg__cta-button
    //-       | Регистрация
      
    //-   //- Модальное окно
    //-   .quiz-modal.quiz-reg__modal
    //-     .quiz-modal__overlay
        
    //-     form(action="https://echo.htmlacademy.ru", method="POST").quiz-modal__content
    //-       .quiz-modal__close
    //-         svg(width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg")
    //-           path(d="M28.4959 25.5009L37.6334 16.3846C38.0335 15.9845 38.2583 15.4418 38.2583 14.8759C38.2583 14.31 38.0335 13.7673 37.6334 13.3671C37.2332 12.967 36.6905 12.7422 36.1246 12.7422C35.5587 12.7422 35.016 12.967 34.6159 13.3671L25.4996 22.5046L16.3834 13.3671C15.9832 12.967 15.4405 12.7422 14.8746 12.7422C14.3087 12.7422 13.766 12.967 13.3659 13.3671C12.9657 13.7673 12.7409 14.31 12.7409 14.8759C12.7409 15.4418 12.9657 15.9845 13.3659 16.3846L22.5034 25.5009L13.3659 34.6171C13.1667 34.8147 13.0086 35.0497 12.9007 35.3087C12.7928 35.5676 12.7373 35.8454 12.7373 36.1259C12.7373 36.4064 12.7928 36.6842 12.9007 36.9431C13.0086 37.2021 13.1667 37.4371 13.3659 37.6346C13.5634 37.8338 13.7984 37.9919 14.0574 38.0998C14.3164 38.2077 14.5941 38.2632 14.8746 38.2632C15.1552 38.2632 15.4329 38.2077 15.6919 38.0998C15.9508 37.9919 16.1858 37.8338 16.3834 37.6346L25.4996 28.4971L34.6159 37.6346C34.8134 37.8338 35.0485 37.9919 35.3074 38.0998C35.5664 38.2077 35.8441 38.2632 36.1246 38.2632C36.4052 38.2632 36.6829 38.2077 36.9419 38.0998C37.2008 37.9919 37.4358 37.8338 37.6334 37.6346C37.8325 37.4371 37.9906 37.2021 38.0985 36.9431C38.2064 36.6842 38.2619 36.4064 38.2619 36.1259C38.2619 35.8454 38.2064 35.5676 38.0985 35.3087C37.9906 35.0497 37.8325 34.8147 37.6334 34.6171L28.4959 25.5009Z" fill="#8EFFFE")

    //-       h3.title.quiz-title.quiz-title--reg.quiz-modal__title
    //-         | регистрация
          
    //-       //- Регистрация
    //-       .quiz-modal__first
    //-         //- Инпуты
    //-         .quiz-modal__inputs
    //-           .quiz-modal__inputs-group
    //-             input(type="text" name="first-name" placeholder="имя" required).quiz-modal__inputs-item

    //-           .quiz-modal__inputs-group
    //-             input(type="text" name="surname" placeholder="фамилия" required).quiz-modal__inputs-item

    //-           .quiz-modal__inputs-group
    //-             input(type="email" name="email" placeholder="e-mail" required).quiz-modal__inputs-item   

    //-         //- Прайваси, рассылка, сабмит
    //-         .quiz-modal__bottom
    //-           .quiz-modal__bottom-checkboxes
    //-             label.quiz-modal__checkbox
    //-               input(type="checkbox", name='privacy' required).quiz-modal__checkbox-input
    //-               span.quiz-modal__checkbox-checkmark
    //-               span.quiz-modal__checkbox-text  
    //-                 | Согласие с правилами, согласие на обработку данных,&nbsp;возраст 18+    

    //-             label.quiz-modal__checkbox
    //-               input(type="checkbox", name='subscribe-rexona').quiz-modal__checkbox-input
    //-               span.quiz-modal__checkbox-checkmark
    //-               span.quiz-modal__checkbox-text  
    //-                 | Согласие на получение рассылки от Rexona

    //-             label.quiz-modal__checkbox
    //-               input(type="checkbox", name='subscribe-unilever').quiz-modal__checkbox-input
    //-               span.quiz-modal__checkbox-checkmark
    //-               span.quiz-modal__checkbox-text  
    //-                 | Согласие на получение рассылки от Unilever  

    //-           .quiz-modal__bottom-button
    //-             button(type="submit").button.quiz-button.quiz-modal__button
    //-               | отправить

    //-       //- Отправка
    //-       .quiz-modal__loader
    //-         .quiz-modal__loader-item
    //-         .quiz-modal__loader-item
    //-         .quiz-modal__loader-item

    //-       //- После отправки
    //-       .quiz-modal__after
    //-         .quiz-modal__text
    //-           p.quiz-modal__text-item
    //-             | Ваш гарантированный подарок 
    //-             span.quiz-modal__text-item--highlighted
    //-               | чек-лист уверенности от Rexona

    //-         .quiz-modal__download
    //-           a(href="" download="Чек-лист уверенности от Rexona").button.quiz-button.quiz-modal__button
    //-             | скачать
