section.section.quiz.active#quiz
  .quiz-sections
    //- Начало квиза
    .quiz-index.quiz-sections__item.active
      h2.title.quiz-title.quiz-index__title
        span.stroked-text.quiz-title--stroked
          | От чего вас 
        | бросает в пот?
      
      p.quiz-text.quiz-index__text
        | Подняться на смотровую площадку без перил или забыть родной язык при встрече с кумиром? У каждой из нас свои триггеры. Пройдите тест и отметьте узнаваемые для себя ситуации, а в результатах узнайте, какой приз от бренда Rexona подойдет именно вам! Готовы "попотеть"?
      
      .quiz-index__button
        a(href="#").button.quiz-button.quiz-index__button-item
          | пройти тест 

    //- Вопросы квиза
    - 
      const sections = [
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'вместо подруги случайно отправила сообщение начальнику' },
            { value: 2, text: 'забыла оплатить проезд в транспорте или решила проехать зайцем' },
            { value: 3, text: 'в спортзал заходит горячий парень' },
            { value: 4, text: 'когда не влезаете в любимые джинсы' },
          ],
        },
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'дедлайн близко, а работа еще не сделана' },
            { value: 2, text: 'прыгаете с парашютом' },
            { value: 3, text: 'приснилось, что сдаете экзамен' },
            { value: 4, text: 'случайно увидела спойлер любимого сериала' },
          ],
        },
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'перед важной встречей вы пачкаете свой наряд кофе' },
            { value: 2, text: 'вы представляете себя за рулем гоночного автомобиля' },
            { value: 3, text: 'вы идете на свидание с незнакомым человеком' },
            { value: 4, text: 'макияж слишком парадный для жаркого дня' },
          ],
        },
        {
          title: 'Вас бросает в&nbsp;пот, когда...',
          answers: [
            { value: 1, text: 'прилюдно вас отчитывают' },
            { value: 2, text: 'вы идете в темном переулке одна' },
            { value: 3, text: 'предстоит публичное выступление' },
            { value: 4, text: 'второпях надела пиджак не с той юбкой  ' },
          ],
        },
        {
          type: 'reg',
        },
      ];
      
    each section, index in sections
      if (section.type === 'reg')
        //- Секция регистрации
        .quiz-reg.quiz-sections__item
          .quiz-reg__bg
            img(src="images/product.png", alt="Изображение антиперспиранта 'Rexona Motion Sense'").quiz-reg__bg-item

          h3.title.quiz-title.quiz-title--reg.quiz-reg__title
            | Выиграйте подарок для экстрималки!
          
          p.quiz-text.quiz-reg__text
            | Больше адреналина и вдохновения! Ваше тело явно требует новых впечатлений, и ничто не должно мешать ими наслаждаться. Почувствовать себя уверенно в любой ситуации поможет подарок от Rexona!
          
          .quiz-reg__cta
            p.quiz-reg__cta-text
              | Пройдите регистрацию, для участия в розыгрыше

            a(href="#").button.quiz-button.quiz-reg__cta-button
              | Регистрация
          
          //- Модальное окно
          .quiz-modal.quiz-reg__modal
            .quiz-modal__overlay
            
            form(action="", method="POST").quiz-modal__content
              .quiz-modal__close
                svg(width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M28.4959 25.5009L37.6334 16.3846C38.0335 15.9845 38.2583 15.4418 38.2583 14.8759C38.2583 14.31 38.0335 13.7673 37.6334 13.3671C37.2332 12.967 36.6905 12.7422 36.1246 12.7422C35.5587 12.7422 35.016 12.967 34.6159 13.3671L25.4996 22.5046L16.3834 13.3671C15.9832 12.967 15.4405 12.7422 14.8746 12.7422C14.3087 12.7422 13.766 12.967 13.3659 13.3671C12.9657 13.7673 12.7409 14.31 12.7409 14.8759C12.7409 15.4418 12.9657 15.9845 13.3659 16.3846L22.5034 25.5009L13.3659 34.6171C13.1667 34.8147 13.0086 35.0497 12.9007 35.3087C12.7928 35.5676 12.7373 35.8454 12.7373 36.1259C12.7373 36.4064 12.7928 36.6842 12.9007 36.9431C13.0086 37.2021 13.1667 37.4371 13.3659 37.6346C13.5634 37.8338 13.7984 37.9919 14.0574 38.0998C14.3164 38.2077 14.5941 38.2632 14.8746 38.2632C15.1552 38.2632 15.4329 38.2077 15.6919 38.0998C15.9508 37.9919 16.1858 37.8338 16.3834 37.6346L25.4996 28.4971L34.6159 37.6346C34.8134 37.8338 35.0485 37.9919 35.3074 38.0998C35.5664 38.2077 35.8441 38.2632 36.1246 38.2632C36.4052 38.2632 36.6829 38.2077 36.9419 38.0998C37.2008 37.9919 37.4358 37.8338 37.6334 37.6346C37.8325 37.4371 37.9906 37.2021 38.0985 36.9431C38.2064 36.6842 38.2619 36.4064 38.2619 36.1259C38.2619 35.8454 38.2064 35.5676 38.0985 35.3087C37.9906 35.0497 37.8325 34.8147 37.6334 34.6171L28.4959 25.5009Z" fill="#8EFFFE")

              h3.title.quiz-title.quiz-title--reg.quiz-modal__title
                | регистрация
              
              //- Регистрация
              .quiz-modal__first
                //- Инпуты
                .quiz-modal__inputs
                  input(type="hidden" id='result' name='result' value='')

                  .quiz-modal__inputs-group
                    input(type="text" name="first-name" placeholder="имя" required).quiz-modal__inputs-item

                  .quiz-modal__inputs-group
                    input(type="text" name="surname" placeholder="фамилия" required).quiz-modal__inputs-item

                  .quiz-modal__inputs-group
                    input(type="email" name="email" placeholder="e-mail" required).quiz-modal__inputs-item   

                //- Прайваси, рассылка, сабмит
                .quiz-modal__bottom
                  .quiz-modal__bottom-checkboxes
                    label.quiz-modal__checkbox
                      input(type="checkbox", name='privacy' required).quiz-modal__checkbox-input
                      span.quiz-modal__checkbox-checkmark
                      span.quiz-modal__checkbox-text  
                        | Согласие с правилами, согласие на обработку данных,&nbsp;возраст 18+    

                    label.quiz-modal__checkbox
                      input(type="checkbox", name='subscribe-rexona').quiz-modal__checkbox-input
                      span.quiz-modal__checkbox-checkmark
                      span.quiz-modal__checkbox-text  
                        | Согласие на получение рассылки от Rexona

                    label.quiz-modal__checkbox
                      input(type="checkbox", name='subscribe-unilever').quiz-modal__checkbox-input
                      span.quiz-modal__checkbox-checkmark
                      span.quiz-modal__checkbox-text  
                        | Согласие на получение рассылки от Unilever  

                  .quiz-modal__bottom-button
                    button(type="submit").button.quiz-button.quiz-modal__button
                      | отправить

              //- Отправка
              .quiz-modal__loader
                .quiz-modal__loader-item
                .quiz-modal__loader-item
                .quiz-modal__loader-item

              //- После отправки
              .quiz-modal__after
                .quiz-modal__text
                  p.quiz-modal__text-item
                    | Ваш гарантированный подарок 
                    span.quiz-modal__text-item--highlighted
                      | чек-лист уверенности от Rexona

                .quiz-modal__download
                  a(href="" download="Чек-лист уверенности от Rexona").button.quiz-button.quiz-modal__button
                    | скачать

              //- Поле ошибки
              .quiz-modal__error
                | Упс, что-то пошло не так!
      else
        .quiz-item.quiz-sections__item
          span.title.stroked-text.quiz-title.quiz-item__position
            span.quiz-item__position--current= (index + 1)
            span.quiz-item__position--total=  '/' + sections.length

          h3.title.quiz-title.quiz-item__title !{section.title}

          .quiz-item__answers
            each answer in section.answers
              .quiz-item__answers-item
                label.quiz-answer
                  input(type="radio", name=`question-${index}` data-value= answer.value).quiz-answer__input
                  span.quiz-answer__checkmark
                  span.quiz-text.quiz-answer__text= answer.text

    //- //- Секция регистрации
    //- .quiz-reg.quiz-sections__item
    //-   .quiz-reg__bg
    //-     img(src="images/product.png", alt="Изображение антиперспиранта 'Rexona Motion Sense'").quiz-reg__bg-item

    //-   h3.title.quiz-title.quiz-title--reg.quiz-reg__title
    //-     | Выиграйте подарок для экстрималки!
      
    //-   p.quiz-text.quiz-reg__text
    //-     | Больше адреналина и вдохновения! Ваше тело явно требует новых впечатлений, и ничто не должно мешать ими наслаждаться. Почувствовать себя уверенно в любой ситуации поможет подарок от Rexona!
      
    //-   .quiz-reg__cta
    //-     p.quiz-reg__cta-text
    //-       | Пройдите регистрацию, для участия в розыгрыше

    //-     a(href="#").button.quiz-button.quiz-reg__cta-button
    //-       | Регистрация
      
    //-   //- Модальное окно
    //-   .quiz-modal.quiz-reg__modal
    //-     .quiz-modal__overlay
        
    //-     form(action="https://echo.htmlacademy.ru", method="POST").quiz-modal__content
    //-       .quiz-modal__close
    //-         svg(width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg")
    //-           path(d="M28.4959 25.5009L37.6334 16.3846C38.0335 15.9845 38.2583 15.4418 38.2583 14.8759C38.2583 14.31 38.0335 13.7673 37.6334 13.3671C37.2332 12.967 36.6905 12.7422 36.1246 12.7422C35.5587 12.7422 35.016 12.967 34.6159 13.3671L25.4996 22.5046L16.3834 13.3671C15.9832 12.967 15.4405 12.7422 14.8746 12.7422C14.3087 12.7422 13.766 12.967 13.3659 13.3671C12.9657 13.7673 12.7409 14.31 12.7409 14.8759C12.7409 15.4418 12.9657 15.9845 13.3659 16.3846L22.5034 25.5009L13.3659 34.6171C13.1667 34.8147 13.0086 35.0497 12.9007 35.3087C12.7928 35.5676 12.7373 35.8454 12.7373 36.1259C12.7373 36.4064 12.7928 36.6842 12.9007 36.9431C13.0086 37.2021 13.1667 37.4371 13.3659 37.6346C13.5634 37.8338 13.7984 37.9919 14.0574 38.0998C14.3164 38.2077 14.5941 38.2632 14.8746 38.2632C15.1552 38.2632 15.4329 38.2077 15.6919 38.0998C15.9508 37.9919 16.1858 37.8338 16.3834 37.6346L25.4996 28.4971L34.6159 37.6346C34.8134 37.8338 35.0485 37.9919 35.3074 38.0998C35.5664 38.2077 35.8441 38.2632 36.1246 38.2632C36.4052 38.2632 36.6829 38.2077 36.9419 38.0998C37.2008 37.9919 37.4358 37.8338 37.6334 37.6346C37.8325 37.4371 37.9906 37.2021 38.0985 36.9431C38.2064 36.6842 38.2619 36.4064 38.2619 36.1259C38.2619 35.8454 38.2064 35.5676 38.0985 35.3087C37.9906 35.0497 37.8325 34.8147 37.6334 34.6171L28.4959 25.5009Z" fill="#8EFFFE")

    //-       h3.title.quiz-title.quiz-title--reg.quiz-modal__title
    //-         | регистрация
          
    //-       //- Регистрация
    //-       .quiz-modal__first
    //-         //- Инпуты
    //-         .quiz-modal__inputs
    //-           .quiz-modal__inputs-group
    //-             input(type="text" name="first-name" placeholder="имя" required).quiz-modal__inputs-item

    //-           .quiz-modal__inputs-group
    //-             input(type="text" name="surname" placeholder="фамилия" required).quiz-modal__inputs-item

    //-           .quiz-modal__inputs-group
    //-             input(type="email" name="email" placeholder="e-mail" required).quiz-modal__inputs-item   

    //-         //- Прайваси, рассылка, сабмит
    //-         .quiz-modal__bottom
    //-           .quiz-modal__bottom-checkboxes
    //-             label.quiz-modal__checkbox
    //-               input(type="checkbox", name='privacy' required).quiz-modal__checkbox-input
    //-               span.quiz-modal__checkbox-checkmark
    //-               span.quiz-modal__checkbox-text  
    //-                 | Согласие с правилами, согласие на обработку данных,&nbsp;возраст 18+    

    //-             label.quiz-modal__checkbox
    //-               input(type="checkbox", name='subscribe-rexona').quiz-modal__checkbox-input
    //-               span.quiz-modal__checkbox-checkmark
    //-               span.quiz-modal__checkbox-text  
    //-                 | Согласие на получение рассылки от Rexona

    //-             label.quiz-modal__checkbox
    //-               input(type="checkbox", name='subscribe-unilever').quiz-modal__checkbox-input
    //-               span.quiz-modal__checkbox-checkmark
    //-               span.quiz-modal__checkbox-text  
    //-                 | Согласие на получение рассылки от Unilever  

    //-           .quiz-modal__bottom-button
    //-             button(type="submit").button.quiz-button.quiz-modal__button
    //-               | отправить

    //-       //- Отправка
    //-       .quiz-modal__loader
    //-         .quiz-modal__loader-item
    //-         .quiz-modal__loader-item
    //-         .quiz-modal__loader-item

    //-       //- После отправки
    //-       .quiz-modal__after
    //-         .quiz-modal__text
    //-           p.quiz-modal__text-item
    //-             | Ваш гарантированный подарок 
    //-             span.quiz-modal__text-item--highlighted
    //-               | чек-лист уверенности от Rexona

    //-         .quiz-modal__download
    //-           a(href="" download="Чек-лист уверенности от Rexona").button.quiz-button.quiz-modal__button
    //-             | скачать
