section.section.quiz
  .quiz-sections
    .quiz-index.quiz-sections__index
      h2.title.quiz-title.quiz-index__title
        span.stroked-text.quiz-title--stroked
          | От чего вас 
        | бросает в пот?
      
      p.quiz-text.quiz-index__text
        | Подняться на смотровую площадку без перил или забыть родной язык при встрече с кумиром? У каждой из нас свои триггеры. Пройдите тест и отметьте узнаваемые для себя ситуации, а в результатах узнайте, какой приз от бренда Rexona подойдет именно вам! Готовы "попотеть"?
      
      .quiz-index__button
        a(href="#").button.quiz-button.quiz-index__button-item
          | пройти тест 