.answer {
  overflow: hidden;

  @include max("md") {
    overflow-y: auto;
  }

  &-container {
    height: 100%;

    @include max("md") {
      height: auto;
    }
  }

  &-story {
    padding: 0 0 vwx(68);

    @include max("lg") {
      height: 100%;
    }

    @include max("md") {
      height: auto;
      padding: 0 vws(50) vws(10);
    }

    @include max("sm") {
      padding: 0 vws(20) vws(20);
    }

    &.readable {
      padding-top: vwx(20);
      height: 100vh;
      overflow-y: auto;

      @include max("md") {
        height: auto;
      }

      .answer-story {
        &__person {
          &-image {
            display: none;
          }
        }

        &__item {
          &-more {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      .story-item {
        &__dots {
          display: none;
        }

        &__hidden {
          display: inline;
        }
      }
    }

    &__person {
      margin-bottom: vwx(12);
      font-family: $openSans;
      font-weight: 300;
      font-size: vwx(19);
      line-height: vwx(22);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white;

      @include max("lg") {
        margin-bottom: vw(12);
        font-size: vw(14);
        line-height: vw(17);
      }

      @include max("md") {
        margin-bottom: vws(19);
        font-size: vws(10);
        line-height: vws(13);
        text-align: center;
      }

      @include max("sm") {
        font-size: vws(16);
        line-height: vws(18);
      }

      &-image {
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: vwx(450);
        height: vwx(456);
        border-radius: 50%;

        @include max("lg") {
          width: vw(288);
          height: vw(292);
        }

        @include max("md") {
          width: vws(132);
          height: vws(133);
        }

        @include max("sm") {
          width: vws(202);
          height: vws(203);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: url("../images/circles.png") no-repeat;
          background-size: cover;
        }

        &-item {
          width: vwx(378);
          height: vwx(378);
          border-radius: 50%;
          overflow: hidden;

          @include max("lg") {
            width: vw(254);
            height: vw(254);
          }

          @include max("md") {
            width: vws(115);
            height: vws(115);
          }

          @include max("sm") {
            width: vws(175);
            height: vws(175);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        max-width: vwx(612);
        padding-left: vwx(168);

        @include max("md") {
          max-width: none;
          padding-left: 0;
        }
      }

      &-name {
        font-weight: 700;
      }
    }

    &__item {
      max-width: vwx(675);
      margin: 0 auto;
      font-family: $openSans;
      font-weight: 600;
      font-size: vwx(22);
      line-height: vwx(29);
      letter-spacing: 0.05em;

      @include max("lg") {
        font-size: vw(15);
        line-height: vw(20);
      }

      @include max("md") {
        max-width: none;
        font-size: vws(12);
        line-height: vws(15);
        text-align: center;
      }

      @include max("sm") {
        font-size: vws(18);
        line-height: vws(24);
      }

      &-title {
        margin-bottom: vwx(8);

        @include max("md") {
          margin-bottom: vws(10);
        }

        @include max("sm") {
          margin-bottom: 0;
        }
      }

      &-text {
        max-width: vwx(612);
        margin-left: auto;
        color: $darkBlue;

        @include max("md") {
          max-width: none;
        }

        &--hidden {
          display: none;
        }
      }

      &-more {
        display: block;
        max-width: vwx(612);
        margin-left: auto;
        margin-top: vwx(34);
        text-transform: uppercase;
        color: $white;

        @include max("lg") {
          margin-top: vw(22);
        }

        @include max("md") {
          max-width: none;
          margin-left: 0;
        }

        @include max("sm") {
          margin-top: vws(24);
        }
      }
    }
  }

  &-advise {
    position: relative;
    z-index: 0;
    height: 100%;
    padding: vwx(43) 0 vwx(129);

    @include max("lg") {
      padding: vw(18) 0 vw(27);
    }

    @include max("md") {
      padding: vws(13) vws(20) vws(90);
    }

    &__product {
      position: absolute;
      z-index: 1;
      top: vwx(183);
      right: vwx(300);
      width: vwx(781);
      height: vwx(737);
      pointer-events: none;

      @include max("lg") {
        top: vw(100);
      }

      @include max("md") {
        top: vws(54);
        left: 0;
        width: vws(263);
        height: vws(244);
      }

      @include max("sm") {
        left: vws(-24);
        width: vws(363);
        height: vws(344);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__another {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: vwx(23);
      writing-mode: tb-rl;
      transform: rotate(180deg);
      font-family: $openSans;
      font-weight: 700;
      font-size: vwx(32);
      line-height: vwx(32);
      text-transform: uppercase;
      color: $white;
      background: $gradient;

      @include max("lg") {
        font-size: vw(20);
        line-height: vw(20);
      }

      @include max("md") {
        position: absolute;
        top: auto;
        width: 100%;
        height: auto;
        padding: vws(10);
        font-size: vws(12);
        line-height: vws(12);
        writing-mode: horizontal-tb;
        transform: none;
      }

      @include max("sm") {
        padding: vws(15);
        font-size: vws(18);
        line-height: vws(18);
      }
    }

    &__title {
      margin: 0 vwx(209) vwx(14) vwx(156);

      @include max("md") {
        margin: 0 0 vws(13);
        text-align: center;
      }
    }

    &__switch {
      width: vwx(353);
      margin: 0 vwx(263) vwx(40) vwx(239);

      @include max("lg") {
        margin-bottom: vw(27);
      }

      @include max("md") {
        margin: 0 auto vws(24);
        width: vws(110);
      }

      @include max("sm") {
        width: vws(220);
      }
    }

    &__info {
      &.readable {
        height: 65vh;
        overflow-y: auto;

        @include max("md") {
          height: auto;
        }

        .story-item {
          &__dots {
            display: none;
          }

          &__hidden {
            display: inline;
          }
        }
      }
    }

    &__text {
      margin: 0 vwx(94) 0 vwx(305);
      font-family: $openSans;
      font-weight: 600;
      font-size: vwx(22);
      line-height: vwx(29);
      letter-spacing: 0.05em;
      color: $darkBlue;

      @include max("lg") {
        font-size: vw(15);
        line-height: vw(20);
      }

      @include max("md") {
        margin: 0 0 0 auto;
        max-width: vws(219);
        font-size: vws(12);
        line-height: vws(15);
      }

      @include max("sm") {
        font-size: vws(18);
        line-height: vws(24);
      }

      &--hidden {
        display: none;
      }

      &-more {
        margin: vwx(34) vwx(94) 0 vwx(305);
        display: block;
        font-size: vwx(32);
        line-height: vwx(34);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $lightBlue;

        @include max("lg") {
          margin-top: vw(22);
          font-size: vw(20);
          line-height: vw(22);
        }

        @include max("md") {
          margin: vw(24) 0 0 auto;
          max-width: vws(219);
          font-size: vws(12);
          line-height: vws(15);
        }

        @include max("sm") {
          margin-top: vws(24);
          font-size: vws(18);
          line-height: vws(24);
        }
      }
    }
  }
}
