.first {
  position: relative;
  color: $white;
  background-color: $black;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    @include max("md") {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        #000000 70%,
        #000000 100%
      );
    }

    @include max("sm") {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        #000000 45%,
        #000000 100%
      );
    }
  }

  &-background {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include max("md") {
      height: vws(351);
    }

    @include max("xxs") {
      height: vws(400);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: vwx(40) vwx(38) vwx(29) vwx(169);

    @include max("md") {
      height: 100vh;
      padding: vws(20);
    }

    @include max("sm") {
      justify-content: flex-end;
    }
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max("sm") {
      align-items: flex-end;
    }

    &__logo {
      width: vwx(435);
      height: vwx(119);

      @include max("lg") {
        width: vw(200);
        height: vw(55);
      }

      @include max("md") {
        width: vws(122);
        height: vws(33);
      }

      &-item {
        width: 100%;
        height: 100%;
      }
    }

    &__woman {
      width: vwx(180);
      height: vwx(41);

      @include max("lg") {
        width: vw(108);
        height: vw(24);
      }

      @include max("md") {
        width: vws(122);
        height: vws(27);
      }

      &-item {
        width: 100%;
        height: 100%;

        @include max("md") {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &-content {
    &__title {
      position: relative;
      margin-bottom: vwx(38);
      max-width: vwx(823);
      font-family: $averta;
      font-weight: 800;
      font-size: vwx(101);
      line-height: vwx(101);
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @include max("lg") {
        margin-bottom: vw(29);
        max-width: vw(459);
        font-size: vw(58);
        line-height: vw(58);
      }

      @include max("md") {
        margin-top: vws(23);
        margin-bottom: vws(16);
        max-width: none;
        font-size: vws(46);
        line-height: vws(46);
      }

      &--large {
        font-size: vwx(149);
        line-height: vwx(149);

        @include max("lg") {
          font-size: vw(86);
          line-height: vw(86);
        }

        @include max("md") {
          font-size: vws(68);
          line-height: vws(68);
        }
      }

      &--o-circles {
        &::before {
          content: "";
          position: absolute;
          top: vwx(2);
          left: vwx(257);
          width: vwx(100);
          height: vwx(103);
          background: url("../images/circles.png") no-repeat;
          background-size: cover;

          @include max("lg") {
            top: vw(2);
            left: vw(147);
            width: vw(56);
            height: vw(58);
          }

          @include max("md") {
            top: vws(1);
            left: vws(117);
            width: vws(46);
            height: vws(46);
          }
        }
      }
    }

    &__text {
      margin-bottom: vwx(38);
      max-width: vwx(720);
      font-weight: 700;
      font-size: vwx(23);
      line-height: vwx(32);
      letter-spacing: 0.05em;

      @include max("lg") {
        margin-bottom: vw(29);
        max-width: vw(459);
        font-size: vw(16);
        line-height: vw(23);
      }

      @include max("md") {
        margin-bottom: vws(13);
        max-width: vws(370);
        font-size: vws(12);
        line-height: vws(17);
      }

      @include max("sm") {
        margin-bottom: vws(13);
        max-width: vws(370);
        font-size: vws(16);
        line-height: vws(20);
      }
    }

    &__button {
      @include max("md") {
        margin-bottom: vws(26);
        text-align: center;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__rexona {
      width: vwx(206);
      height: vwx(54);

      @include max("lg") {
        width: vw(122);
        height: vw(32);
      }

      @include max("md") {
        width: vws(100);
        height: vws(27);
      }

      @include max("sm") {
        width: vws(135);
        height: vws(36);
      }

      &-item {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-socials {
    display: flex;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: vwx(38);
      height: vwx(38);
      border: 1px solid $white;
      border-radius: 50%;
      background-color: transparent;
      transition: $transition;

      &:not(:last-child) {
        margin-right: vwx(9);
      }

      @include hover {
        background-color: $electricBlue;
        border-color: $electricBlue;

        svg {
          path {
            fill: $blue;
          }
        }
      }

      @include max("md") {
        width: vws(30);
        height: vws(30);
      }

      svg {
        path: {
          fill: $electricBlue;
          transition: $transition;
        }
      }

      &--vk {
        width: vwx(12);
        height: vwx(12);

        @include max("md") {
          width: vws(8);
          height: vws(8);
        }
      }

      &--facebook {
        width: vwx(10);
        height: vwx(16);

        @include max("md") {
          width: vws(7);
          height: vws(12);
        }
      }

      &--ok {
        width: vwx(10);
        height: vwx(14);

        @include max("md") {
          width: vws(7);
          height: vws(10);
        }
      }

      &--twitter {
        width: vwx(15);
        height: vwx(12);

        @include max("md") {
          width: vws(12);
          height: vws(9);
        }
      }
    }
  }
}
