.question {
  &-container {
    height: 100%;

    @include max("md") {
      height: auto;
    }
  }

  &-story {
    padding: vwx(40) vwx(92) vwx(40) vwx(187);

    @include max("md") {
      padding: vws(30) vws(30) vws(34);
    }

    @include max("sm") {
      padding: vws(16) vws(20) vws(24);
    }

    &.readable {
      height: 100vh;
      overflow-y: auto;

      @include max("md") {
        height: auto;
      }

      .question-story {
        &__person {
          display: none;
        }

        &__item {
          // &-text {
          //   &--dots {
          //     display: none;
          //   }

          //   &--hidden {
          //     display: inline;
          //   }
          // }

          &-more {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      .story-item {
        &__dots {
          display: none;
        }

        &__hidden {
          display: inline;
        }
      }
    }

    &__person {
      margin-bottom: vwx(13);
      font-family: $openSans;
      font-weight: 300;
      font-size: vwx(21);
      line-height: vwx(24);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $lightBlue;

      @include max("lg") {
        margin-bottom: vw(13);
        font-size: vw(16);
        line-height: vw(19);
      }

      @include max("md") {
        margin-bottom: vws(12);
        font-size: vws(10);
        line-height: vws(13);
        text-align: center;
      }

      @include max("sm") {
        font-size: vws(16);
        line-height: vws(18);
      }

      &-image {
        position: relative;
        z-index: 0;
        margin: 0 auto;
        width: vwx(594);
        height: vwx(594);
        border-radius: 50%;
        overflow: hidden;

        @include max("lg") {
          width: vw(350);
          height: vw(350);
        }

        @include max("md") {
          margin-bottom: vws(8);
          width: vws(142);
          height: vws(142);
        }

        @include max("sm") {
          margin-bottom: vws(12);
          width: vws(202);
          height: vws(202);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: vwx(24) solid $lightBlue;

          @include max("sm") {
            border-width: vws(10);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
      }

      &-name {
        font-weight: 700;
      }
    }

    &__item {
      font-family: $openSans;
      font-weight: 600;
      font-size: vwx(36);
      line-height: vwx(38);
      letter-spacing: 0.05em;

      @include max("lg") {
        font-size: vw(22);
        line-height: vw(24);
      }

      @include max("md") {
        font-size: vws(12);
        line-height: vws(15);
      }

      @include max("sm") {
        font-size: vws(18);
        line-height: vws(24);
      }

      &-text {
        color: $darkBlue;

        // &--hidden {
        //   display: none;
        // }
      }

      &-more {
        // display: inline-block;
        display: none;
        margin-top: vwx(38);
        text-transform: uppercase;
        color: $lightBlue;

        @include max("lg") {
          margin-top: vw(24);
        }

        @include max("sm") {
          margin-top: vws(24);
        }
      }
    }
  }

  &-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: vwx(170) vwx(80);
    text-align: center;

    @include max("md") {
      padding: vws(30);
    }

    @include max("sm") {
      padding: vws(33) vws(20) vws(54);
    }

    &__title {
      margin-bottom: vwx(109);

      @include max("md") {
        margin-bottom: vws(30);
      }
    }

    &__buttons {
      font-family: $openSans;
      font-weight: 700;
      font-size: vwx(36);
      line-height: vwx(42);
      text-transform: uppercase;
      color: $white;

      @include max("lg") {
        font-size: vw(22);
        line-height: vw(24);
      }

      @include max("md") {
        max-width: vws(300);
        font-size: vws(14);
        line-height: vws(14);
      }

      @include max("sm") {
        max-width: none;
        font-size: vws(18);
        line-height: vws(18);
      }

      &-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: vwx(164);
        padding: vwx(40) vwx(82);
        border-radius: vwx(150);

        @include max("lg") {
          border-radius: vw(150);
        }

        @include max("md") {
          min-height: vws(49);
          padding: vws(10) vws(22);
          border-radius: vws(150);
        }

        @include max("sm") {
          min-height: vws(79);
          padding: vws(20) vws(30);
        }

        &--primary {
          margin-bottom: vwx(60);

          @include max("sm") {
            margin-bottom: vws(26);
          }
        }

        &--secondary {
          border: vwx(4) solid $white;

          @include max("sm") {
            border-width: vws(2);
          }
        }
      }

      &-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: vwx(150);
        background: radial-gradient(
          50% 50% at 50% 50%,
          #2babce 0%,
          #295380 100%
        );
        filter: blur(7px);

        @include max("lg") {
          border-radius: vw(150);
        }

        @include max("md") {
          border-radius: vws(150);
        }
      }

      &-checkmark {
        position: absolute;
        top: vwx(-31);
        left: vwx(20);
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        @include max("md") {
          top: vws(-14);
        }

        @include max("sm") {
          top: vws(-18);
          left: 0;
        }

        svg {
          width: vwx(130);
          height: vwx(161);

          @include max("md") {
            width: vws(40);
            height: vws(50);
          }

          @include max("sm") {
            width: vws(60);
            height: vws(75);
          }
        }
      }

      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;

        &:checked {
          & ~ .question-answers__buttons {
            &-checkmark {
              opacity: 1;
              visibility: visible;
              transition: $transition;
            }
          }
        }
      }

      &-text {
        position: relative;
        z-index: 2;
      }
    }
  }
}
