.quiz {
  color: $white;
  background: $gradient;

  // Основные элементы секции
  &-title {
    font-size: vwx(130);
    line-height: vwx(130);
    letter-spacing: normal;

    @include max("lg") {
      font-size: vw(86);
      line-height: vw(86);
    }

    @include max("md") {
      text-align: center;
      font-size: vws(45);
      line-height: vws(45);
    }

    &--stroked {
      @include max("md") {
        font-size: vws(58);
        line-height: vws(64);
      }
    }

    &--reg {
      @include min("md") {
        font-size: vwx(96);
        line-height: vwx(96);
      }
    }
  }

  &-text {
    font-weight: 700;
    font-size: vwx(23);
    line-height: vwx(32);
    letter-spacing: 0.05em;

    @include max("lg") {
      font-size: vw(16);
      line-height: vw(22);
    }

    @include max("md") {
      font-size: vws(14);
      line-height: vws(19);
    }

    @include max("sm") {
      font-size: vws(18);
      line-height: vws(24);
    }
  }

  &-button {
    display: inline-block;
    min-width: vwx(319);

    @include max("md") {
      max-width: vws(147);
      width: 100%;
    }

    @include max("sm") {
      max-width: vws(247);
    }
  }

  &-sections {
    position: relative;
    height: 100vh;

    @include max('sm') {
      min-height: 100vh;
      height: auto;
    }

    &__item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: $transition;

      &.active {
        position: relative;
        min-height: 100vh;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: $transition;
      }
    }
  }

  &-answer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: vwx(63);
    padding-left: vwx(100);
    user-select: none;
    cursor: pointer;

    @include max("md") {
      min-height: vwx(25);
      padding-left: vws(36);
    }

    @include max("sm") {
      min-height: vwx(50);
      padding-left: vws(77);
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
        pointer-events: none;

        & ~ .quiz-answer__checkmark::after {
          opacity: 1;
          transition: $transition;
        }
      }
    }

    &__checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: vwx(63);
      height: vwx(63);
      border-radius: 50%;
      border: vwx(12) solid $white;

      @include max("md") {
        width: vws(25);
        height: vws(25);
        border-width: vws(4);
      }

      @include max("sm") {
        width: vws(50);
        height: vws(50);
        border-width: vws(8);
      }

      &::after {
        content: "";
        position: absolute;
        top: vwx(-36);
        left: vwx(-2);
        width: vwx(52);
        height: vwx(69);
        background: url("../images/checkmark-dark-new.svg") no-repeat;
        background-size: contain;
        opacity: 0;
        transition: $transition;

        @include max("md") {
          top: vws(-15);
          left: vws(-1);
          width: vws(24);
          height: vws(32);
        }

        @include max("sm") {
          top: vws(-35);
          left: 0;
          width: vws(48);
          height: vws(64);
        }
      }
    }

    &__text {
      font-weight: 600;
      pointer-events: none;
    }
  }

  // Элементы секции в конкретном блоке
  &-index {
    padding: vwx(198) vwx(291) vwx(167) vwx(168);

    @include max("lg") {
      padding-top: vwx(105);
      padding-bottom: vwx(105);
    }

    @include max("md") {
      padding: vws(90) vws(20) vws(90);
    }

    @include max("sm") {
      padding: vws(30) vws(20) vws(30);
    }

    &__title {
      margin-bottom: vwx(70);

      @include max("md") {
        margin-bottom: vws(37);
      }
    }

    &__text {
      max-width: vwx(702);
      margin-bottom: vwx(34);
      margin-left: auto;

      @include max("md") {
        max-width: none;
        margin-bottom: vws(37);
        margin-left: vws(43);
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      width: vwx(702);
      margin-left: auto;

      @include max("md") {
        width: 100%;
        margin-left: vws(86);
      }

      @include max("sm") {
        flex-wrap: wrap;
      }

      &-item {
        &:first-child {
          margin-right: vwx(30);

          @include max("sm") {
            margin-right: 0;
            margin-bottom: vws(20);
          }
        }

        &:nth-child(2) {
          border: vwx(3) solid $white;
          color: $white;
          background-color: transparent;

          @include hover {
            border-color: $blue;
            background-color: $blue;
          }
        }

        @include max("md") {
          min-width: vws(150);
        }

        @include max("sm") {
          min-width: vws(288);
        }
      }
    }

    &__ozon {
      position: absolute;
      bottom: vwx(107);
      left: vwx(187);
      width: vwx(293);
      height: vwx(244);

      @include hover {
        svg {
          path {
            fill: $darkBlue;
          }
        }
      }

      @include max("md") {
        bottom: vws(10);
        left: vws(10);
        width: vws(75);
        height: vws(62);
      }

      @include max('sm') {
        position: static;
        margin-top: 20px;
        width: vws(142);
        height: vws(119);
      }

      svg {
        width: 100%;
        height: 100%;

        path {
          transition: $transition;
        }
      }
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   left: 0;
      //   bottom: 0;
      //   width: 100%;
      //   height: 100%;
      //   background-color: transparent;
      //   border: vwx(5) solid $white;
      //   backdrop-filter: blur(22px);
      //   border-radius: 250px;
      // }
    }
  }

  &-item {
    // position: relative;
    padding: vwx(117) vwx(168);

    @include max("md") {
      padding: vws(63) vws(20);
    }

    @include max('sm') {
      padding: vws(40) vws(20);
    }

    &__position {
      position: absolute;
      bottom: vwx(117);
      left: vwx(168);

      @include max("md") {
        bottom: vws(20);
        left: vws(20);
      }
    }

    &__title {
      max-width: vwx(986);
      margin-right: auto;
      margin-bottom: vwx(77);

      @include max("md") {
        max-width: none;
        margin-right: 0;
        margin-bottom: vws(56);
        text-align: left;
      }
    }

    &__answers {
      width: vwx(828);
      margin-left: auto;

      @include max("md") {
        width: auto;
        margin-left: 0;
      }

      &-item {
        margin-bottom: vwx(40);

        @include max("md") {
          margin-bottom: vws(22);
        }
      }
    }
  }

  &-reg {
    // position: relative;
    padding: vwx(173) vwx(168) vwx(200);

    @include max("md") {
      padding: vws(63) vws(20) vws(92);
    }

    @include max('sm') {
      padding: vws(43) vws(20) vws(62);
    }

    &__bg {
      position: absolute;
      right: vwx(-327);
      bottom: 0;
      z-index: 0;
      width: vwx(900);

      @include max("lg") {
        width: vw(585);
      }

      @include max("md") {
        width: vws(237);
      }

      @include max("sm") {
        right: vws(-147);
        width: vws(307);
      }

      &-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      max-width: vwx(1120);
      margin-right: auto;
      margin-bottom: vwx(32);
      letter-spacing: normal;
      text-align: left;

      @include max("md") {
        max-width: none;
        margin-right: 0;
        margin-bottom: vws(35);
      }
    }

    &__text {
      max-width: vwx(706);
      margin-right: auto;
      margin-bottom: vwx(66);
      margin-left: vwx(133);

      @include max("md") {
        max-width: none;
        margin-right: 0;
        margin-bottom: vws(34);
        margin-left: vws(43);
      }
    }

    &__cta {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: vwx(986);
      margin-right: auto;

      @include max("md") {
        flex-direction: column;
        align-items: flex-start;
        max-width: none;
      }

      &-text {
        font-family: $averta;
        font-weight: 900;
        font-size: vwx(43);
        line-height: vwx(43);
        text-transform: uppercase;
        color: $darkBlue;

        @include max("md") {
          margin-bottom: vws(50);
          font-size: vws(24);
          line-height: vws(24);
        }

        @include max("sm") {
          margin-bottom: vws(50);
          font-size: vws(24);
          line-height: vws(24);
        }
      }
    }
  }

  // Модальное окно
  &-modal {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transition;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: $transition;
    }

    &__overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darkBlue;
      opacity: 0.75;
    }

    &__content {
      position: fixed;
      z-index: 11;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: vwx(1111);
      padding: vwx(45) vwx(52) vwx(95) vwx(58);
      background: $gradient;
      border: vwx(10) solid $white;

      @include max("lg") {
        border-width: vw(9);
      }

      @include max("md") {
        padding: vws(20) vws(8) vws(35) vws(9);
        width: vws(361);
        height: 94vh;
        border-width: vws(5);
      }

      @include max("sm") {
        padding: vws(50) vws(8) vws(65) vws(9);
        border-width: vws(10);
      }
    }

    &__close {
      position: absolute;
      top: vwx(14);
      right: vwx(16);
      display: none;
      cursor: pointer;

      @include hover {
        svg {
          path {
            fill: $darkBlue;
            transition: $transition;
          }
        }
      }

      svg {
        width: vwx(83);
        height: vwx(83);
        pointer-events: none;
        transition: $transition;

        @include max("md") {
          width: vw(51);
          height: vw(51);
        }

        @include max("sm") {
          width: vws(51);
          height: vws(51);
        }
      }
    }

    &__title {
      margin-bottom: vwx(51);
      text-align: center;

      @include max("md") {
        margin-bottom: vws(30);
      }

      @include max("sm") {
        margin-bottom: vws(50);
      }
    }

    &__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &-group {
        flex-basis: vwx(480);
        margin-bottom: vwx(23);

        &:last-child {
          flex-basis: 100%;
        }

        @include max("md") {
          flex-basis: 100%;
          margin-bottom: vws(17);
        }
      }

      &-item {
        width: 100%;
        padding: vwx(18) vwx(34);
        border: vwx(4) solid $white;
        font-weight: 700;
        font-size: vwx(22);
        line-height: vwx(32);
        text-transform: uppercase;
        color: $darkBlue;
        background-color: transparent;

        @include max("md") {
          padding: vws(9) vws(17);
          font-size: vws(14);
          line-height: vws(14);
          border-width: vws(4);
        }

        @include max("sm") {
          padding: vws(13) vws(21);
          font-size: vws(18);
          line-height: vws(18);
        }

        &::placeholder {
          font-family: $openSans;
          font-weight: 700;
          font-size: vwx(22);
          line-height: vwx(32);
          text-transform: uppercase;
          color: $cerulean;

          @include max("md") {
            font-size: vws(14);
            line-height: vws(14);
          }

          @include max("sm") {
            font-size: vws(18);
            line-height: vws(18);
          }
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;

      @include max("md") {
        flex-direction: column;
        align-items: center;
      }

      &-checkboxes {
        display: flex;
        flex-direction: column;
        flex-basis: vwx(480);

        @include max("md") {
          flex-basis: 100%;
          width: 100%;
        }
      }

      &-button {
        @include max("md") {
          width: 100%;
        }
      }
    }

    &__checkbox {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: vwx(9);
      min-height: vwx(28);
      padding-left: vwx(57);
      font-family: $roboto;
      font-weight: 500;
      font-size: vwx(16);
      line-height: vwx(19);
      letter-spacing: 0.05em;
      user-select: none;
      cursor: pointer;

      @include max("md") {
        margin-bottom: vws(23);
        min-height: vws(30);
        padding-left: vws(63);
        font-size: vws(14);
        line-height: vws(16);
      }

      @include max("sm") {
        font-size: vws(16);
        line-height: vws(18);
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .quiz-modal__checkbox-checkmark::after {
          opacity: 1;
          transition: $transition;
        }
      }

      &-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: vwx(27);
        height: vwx(27);
        border: vwx(4) solid $white;

        @include max("md") {
          width: vws(30);
          height: vws(30);
          border-width: vws(4);
        }

        &::after {
          content: "";
          position: absolute;
          top: vwx(-9);
          left: vwx(9);
          width: vwx(14);
          height: vwx(24);
          border: solid $cerulean;
          border-width: 0 vwx(6) vwx(6) 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          opacity: 0;
          transition: $transition;

          @include max("md") {
            top: vws(-10);
            left: vws(10);
            width: vws(15);
            height: vws(27);
            border-width: 0 vws(6) vws(6) 0;
          }
        }
      }
    }

    &__text {
      margin-bottom: vwx(75);
      max-width: vwx(699);
      font-weight: 600;
      font-size: vwx(32);
      line-height: vwx(38);
      letter-spacing: 0.05em;
      text-align: center;

      @include max("lg") {
        font-size: vw(20);
        line-height: vw(22);
      }

      @include max("md") {
        margin-bottom: vws(35);
        max-width: none;
        font-size: vws(18);
        line-height: vws(22);
      }

      @include max("sm") {
        margin-bottom: vws(55);
        font-size: vws(24);
        line-height: vws(30);
      }

      &-item {
        &--highlighted {
          color: $cerulean;
        }
      }
    }

    &__download {
      display: flex;
      justify-content: center;
    }

    &__button {
      color: $cerulean;

      @include max("md") {
        display: block;
        margin: 0 auto;
      }
    }

    &__loader {
      display: none;
      width: 8em;
      text-align: center;
      user-select: none;

      &-item {
        width: 2em;
        height: 2em;
        background-color: $darkBlue;
        border-radius: 100%;
        display: inline-block;
        animation: bounce 1.4s ease-in-out 0s infinite both;

        &:nth-child(1) {
          animation-delay: -0.32s;
        }

        &:nth-child(2) {
          animation-delay: -0.16s;
        }
      }
    }

    &__after {
      display: none;
    }

    &__error {
      display: none;
      margin-top: vwx(13);
      font-family: $roboto;
      font-weight: 500;
      font-size: vwx(14);
      color: red;

      @include max("lg") {
        margin-top: vw(13);
        font-size: vw(14);
      }

      @include max("md") {
        margin-top: vws(15);
        font-size: vws(12);
      }

      @include max("sm") {
        font-size: vws(16);
      }
    }
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
