.quiz {
  color: $white;
  background: $gradient;

  // Основные элементы секции
  &-title {
    font-size: vwx(144);
    line-height: vwx(144);
    letter-spacing: normal;

    @include max("lg") {
      font-size: vw(95);
      line-height: vw(95);
    }

    @include max("md") {
      text-align: center;
      font-size: vws(45);
      line-height: vws(48);
    }

    &--stroked {
      @include max("md") {
        font-size: vws(58);
        line-height: vws(64);
      }
    }

    &--reg {
      @include min("md") {
        font-size: vwx(96);
        line-height: vwx(96);
      }
    }
  }

  &-text {
    font-weight: 700;
    font-size: vwx(26);
    line-height: vwx(36);
    letter-spacing: 0.05em;

    @include max("lg") {
      font-size: vw(18);
      line-height: vw(24);
    }

    @include max("md") {
      font-size: vws(14);
      line-height: vws(19);
    }

    @include max("sm") {
      font-size: vws(18);
      line-height: vws(24);
    }
  }

  &-button {
    display: inline-block;
    min-width: vwx(354);

    @include max("md") {
      max-width: vws(147);
      width: 100%;
    }

    @include max("sm") {
      max-width: vws(247);
    }
  }

  &-sections {
    height: 100vh;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
    }
  }

  &-answer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: vwx(70);
    padding-left: vwx(133);
    user-select: none;
    cursor: pointer;

    @include max("md") {
      min-height: vwx(25);
      padding-left: vws(36);
    }

    @include max("sm") {
      min-height: vwx(50);
      padding-left: vws(77);
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
        pointer-events: none;

        & ~ .quiz-answer__checkmark::after {
          opacity: 1;
          transition: $transition;
        }
      }
    }

    &__checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: vwx(70);
      height: vwx(70);
      border-radius: 50%;
      border: vwx(13) solid $white;

      @include max("md") {
        width: vws(25);
        height: vws(25);
        border-width: vws(4);
      }

      @include max("sm") {
        width: vws(50);
        height: vws(50);
        border-width: vws(8);
      }

      &::after {
        content: "";
        position: absolute;
        top: vwx(-36);
        left: 0;
        width: vwx(64);
        height: vwx(81);
        background: url("../images/checkmark-dark.svg") no-repeat;
        background-size: contain;
        opacity: 0;
        transition: $transition;

        @include max("md") {
          top: vws(-15);
          left: 0;
          width: vws(24);
          height: vws(30);
        }

        @include max("sm") {
          top: vws(-25);
          left: 0;
          width: vws(48);
          height: vws(60);
        }
      }
    }

    &__text {
      font-weight: 600;
    }
  }

  // Элементы секции в конкретном блоке
  &-index {
    padding: vwx(220) vwx(323) vwx(185) vwx(187);

    @include max("lg") {
      padding-top: vwx(117);
      padding-bottom: vwx(117);
    }

    @include max("md") {
      padding: vws(90) vws(20) vws(90);
    }

    @include max("sm") {
      padding: vws(103) vws(20) vws(101);
    }

    &__title {
      margin-bottom: vwx(78);

      @include max("md") {
        margin-bottom: vws(37);
      }
    }

    &__text {
      max-width: vwx(780);
      margin-bottom: vwx(38);
      margin-left: auto;

      @include max("md") {
        max-width: none;
        margin-bottom: vws(37);
        margin-left: vws(43);
      }
    }

    &__button {
      max-width: vwx(780);
      margin-left: auto;

      @include max("md") {
        max-width: none;
        margin-left: 0;
        text-align: center;
      }

      &-item {
        @include max("md") {
          min-width: vws(188);
        }

        @include max("sm") {
          min-width: vws(288);
        }
      }
    }
  }

  &-item {
    position: relative;
    padding: vwx(130) vwx(187);

    @include max("md") {
      padding: vws(63) vws(20);
    }

    &__position {
      position: absolute;
      bottom: vwx(130);
      left: vwx(187);

      @include max("md") {
        bottom: vws(20);
        left: vws(20);
      }
    }

    &__title {
      max-width: vwx(1096);
      margin-right: auto;
      margin-bottom: vwx(85);

      @include max("md") {
        max-width: none;
        margin-right: 0;
        margin-bottom: vws(56);
        text-align: left;
      }
    }

    &__answers {
      max-width: vwx(920);
      margin-left: auto;

      @include max("md") {
        max-width: none;
        margin-left: 0;
      }

      &-item {
        margin-bottom: vwx(44);

        @include max("md") {
          margin-bottom: vws(22);
        }
      }
    }
  }

  &-reg {
    position: relative;
    padding: vwx(192) vwx(187) vwx(222);

    @include max("md") {
      padding: vws(63) vws(20) vws(92);
    }

    &__bg {
      position: absolute;
      right: vwx(-363);
      bottom: 0;
      z-index: 0;
      width: vwx(1000);

      @include max("lg") {
        width: vw(650);
      }

      @include max("md") {
        width: vws(237);
      }

      @include max("sm") {
        right: vws(-147);
        width: vws(307);
      }

      &-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      max-width: vwx(1244);
      margin-right: auto;
      margin-bottom: vwx(36);
      letter-spacing: normal;
      text-align: left;

      @include max("md") {
        max-width: none;
        margin-right: 0;
        margin-bottom: vws(35);
      }
    }

    &__text {
      max-width: vwx(784);
      margin-right: auto;
      margin-bottom: vwx(73);
      margin-left: vwx(148);

      @include max("md") {
        max-width: none;
        margin-right: 0;
        margin-bottom: vws(34);
        margin-left: vws(43);
      }
    }

    &__cta {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: vwx(1096);
      margin-right: auto;

      @include max("md") {
        flex-direction: column;
        align-items: flex-start;
        max-width: none;
      }

      &-text {
        font-family: $averta;
        font-weight: 900;
        font-size: vwx(48);
        line-height: vwx(48);
        text-transform: uppercase;
        color: $darkBlue;

        @include max("md") {
          margin-bottom: vws(50);
          font-size: vws(24);
          line-height: vws(24);
        }

        @include max("sm") {
          margin-bottom: vws(50);
          font-size: vws(24);
          line-height: vws(24);
        }
      }
    }
  }

  // Модальное окно
  &-modal {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darkBlue;
      opacity: 0.75;
    }

    &__content {
      position: fixed;
      z-index: 11;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: vwx(1234);
      padding: vwx(50) vwx(58) vwx(105) vwx(64);
      background: $gradient;
      border: vwx(10) solid $white;

      @include max("lg") {
        border-width: vw(10);
      }

      @include max("md") {
        padding: vws(20) vws(8) vws(35) vws(9);
        width: vws(361);
        height: 94vh;
        border-width: vws(5);
      }

      @include max("sm") {
        padding: vws(50) vws(8) vws(65) vws(9);
        border-width: vws(10);
      }
    }

    &__close {
      position: absolute;
      top: vwx(15);
      right: vwx(18);
      display: none;
      cursor: pointer;

      @include hover {
        svg {
          path {
            fill: $darkBlue;
            transition: $transition;
          }
        }
      }

      svg {
        width: vwx(92);
        height: vwx(92);
        pointer-events: none;
        transition: $transition;

        @include max("md") {
          width: vw(51);
          height: vw(51);
        }

        @include max("sm") {
          width: vws(51);
          height: vws(51);
        }
      }
    }

    &__title {
      margin-bottom: vwx(57);
      text-align: center;

      @include max("md") {
        margin-bottom: vws(30);
      }

      @include max("sm") {
        margin-bottom: vws(50);
      }
    }

    &__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &-group {
        flex-basis: vwx(533);
        margin-bottom: vwx(26);

        &:last-child {
          flex-basis: 100%;
        }

        @include max("md") {
          flex-basis: 100%;
          margin-bottom: vws(17);
        }
      }

      &-item {
        width: 100%;
        padding: vwx(20) vwx(38);
        border: vwx(4) solid $white;
        font-weight: 700;
        font-size: vwx(24);
        line-height: vwx(36);
        text-transform: uppercase;
        color: $darkBlue;
        background-color: transparent;

        @include max("md") {
          padding: vws(9) vws(17);
          font-size: vws(14);
          line-height: vws(14);
          border-width: vws(4);
        }

        @include max("sm") {
          padding: vws(13) vws(21);
          font-size: vws(18);
          line-height: vws(18);
        }

        &::placeholder {
          font-family: $openSans;
          font-weight: 700;
          font-size: vwx(24);
          line-height: vwx(36);
          text-transform: uppercase;
          color: $cerulean;

          @include max("md") {
            font-size: vws(14);
            line-height: vws(14);
          }

          @include max("sm") {
            font-size: vws(18);
            line-height: vws(18);
          }
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;

      @include max("md") {
        flex-direction: column;
        align-items: center;
      }

      &-checkboxes {
        display: flex;
        flex-direction: column;
        flex-basis: vwx(533);

        @include max("md") {
          flex-basis: 100%;
          width: 100%;
        }
      }

      &-button {
        @include max("md") {
          width: 100%;
        }
      }
    }

    &__checkbox {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: vwx(10);
      min-height: vwx(30);
      padding-left: vwx(63);
      font-family: $roboto;
      font-weight: 500;
      font-size: vwx(18);
      line-height: vwx(21);
      letter-spacing: 0.05em;
      user-select: none;
      cursor: pointer;

      @include max("md") {
        margin-bottom: vws(23);
        min-height: vws(30);
        padding-left: vws(63);
        font-size: vws(14);
        line-height: vws(16);
      }

      @include max("sm") {
        font-size: vws(16);
        line-height: vws(18);
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .quiz-modal__checkbox-checkmark::after {
          opacity: 1;
          transition: $transition;
        }
      }

      &-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: vwx(30);
        height: vwx(30);
        border: vwx(4) solid $white;

        @include max("md") {
          width: vws(30);
          height: vws(30);
          border-width: vws(4);
        }

        &::after {
          content: "";
          position: absolute;
          top: vwx(-10);
          left: vwx(10);
          width: vwx(15);
          height: vwx(27);
          border: solid $cerulean;
          border-width: 0 vwx(6) vwx(6) 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          opacity: 0;
          transition: $transition;

          @include max("md") {
            top: vws(-10);
            left: vws(10);
            width: vws(15);
            height: vws(27);
            border-width: 0 vws(6) vws(6) 0;
          }
        }
      }
    }

    &__text {
      margin-bottom: vwx(83);
      max-width: vwx(665);
      font-weight: 600;
      font-size: vwx(36);
      line-height: vwx(42);
      letter-spacing: 0.05em;
      text-align: center;

      @include max("lg") {
        font-size: vw(22);
        line-height: vw(24);
      }

      @include max("md") {
        margin-bottom: vws(35);
        max-width: none;
        font-size: vws(18);
        line-height: vws(22);
      }

      @include max("sm") {
        margin-bottom: vws(55);
        font-size: vws(24);
        line-height: vws(30);
      }

      &-item {
        &--highlighted {
          color: $cerulean;
        }
      }
    }

    &__download {
      display: flex;
      justify-content: center;
    }

    &__button {
      color: $cerulean;

      @include max("md") {
        display: block;
        margin: 0 auto;
      }
    }

    &__loader {
      width: 8em;
      margin: auto;
      text-align: center;

      &-item {
        width: 2em;
        height: 2em;
        background-color: $darkBlue;
        border-radius: 100%;
        display: inline-block;
        animation: bounce 1.4s ease-in-out 0s infinite both;

        &:nth-child(1) {
          animation-delay: -0.32s;
        }

        &:nth-child(2) {
          animation-delay: -0.16s;
        }
      }
    }
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
